---

---

<h4 class="adx-markup-label">Text inputs and text areas</h4>

<form>
    <p>Biz about text areas</p>
    <div class="inputLabel">
        <label>Text box</label>
        <input></input>
    </div>

    <label>Password box</label>
    <input type='password'></input>

    <div class="inputLabel">
    <p>Placeholders</p>
    <label>Text box</label>
    <input type="text" placeholder="Placeholder text"></input>
    </div>





    <p>Biz about text areas</p>

    <div class="inputLabel">
    <label>Text area</label>
    <textarea rows="8"></textarea></div>

</form>


<h4 class="adx-markup-label">Checkboxes and radio buttons</h4>



<h4 class="adx-markup-label">Dropdowns and selects</h4>



<h4 class="adx-markup-label">Forms</h4>

<p>Ideally, forms are kept simple and short to streamline any actions we want users to take. Single-column forms are
    preferred where possible; multi-part conditional forms are preferred after that. it is not recommended to use
    multi-column forms.</p>

<form>
    <div class="inputLabel">
    <label>Field</label>
    <input></input>
</div>

<div class="inputLabel">
    <label>Another field</label>
    <input></input>
</div>

    <button class="adx-button brand-midblue">Get my results</button>
</form>

<p>The submit button should
    avoid the word 'submit' by itself where possible, making the action word to be specific to what
    the user is doing or submitting itself ("submit file"; "save changes"; "calculate results"; etc.).
</p>

<h4 class="adx-markup-label">Experimental: Conversational forms</h4>