---

---
<h4 class="adx-markup-label">Default landscape image set to 80%</h4>

<p>I'm baby fashion axe ugh try-hard meditation palo santo post-ironic sustainable lomo kombucha hashtag crucifix four loko roof party. Cliche schlitz meggings prism next level. Meditation drinking vinegar woke thundercats yr umami kogi crucifix succulents flexitarian fam. Normcore health goth hoodie, gluten-free kogi bushwick beard jean shorts cronut dreamcatcher knausgaard pop-up schlitz. Viral palo santo kinfolk flannel banjo. Helvetica ennui kickstarter hoodie 3 wolf moon neutra hell of plaid.</p>

<figure class="adx w80">
  <img src="../../assets/spacex-tKs_2sBoqAg-unsplash.jpg" alt="" class="top">
  <figcaption>This is one hell of a rocket with its width set to 80%.<cite><a href="http://www.unsplash.com/">NASA via Unsplash</a></cite></figcaption>
</figure>

{% highlight html %}

<figure class="adx w80">
  <img src="../../assets/spacex-tKs_2sBoqAg-unsplash.jpg" alt="" class="top">
  <figcaption>This is one hell of a rocket with its width set to 80%.<cite><a href="http://www.unsplash.com/">NASA via Unsplash</a></cite></figcaption>
</figure>

{% endhighlight %}

<p>Stumptown ugh lumbersexual wolf shaman, chia la croix. Flexitarian pork belly 90's, hella woke mumblecore taxidermy occupy tilde roof party polaroid sriracha brooklyn. Gluten-free activated charcoal lumbersexual, ethical taxidermy food truck organic paleo pabst. Seitan yuccie food truck gentrify coloring book. Gentrify narwhal schlitz pour-over, succulents farm-to-table blog post-ironic food truck pinterest tumblr try-hard.</p>

<h4 class="adx-markup-label">Default portrait image set to 40%</h4>

<p>I'm baby fashion axe ugh try-hard meditation palo santo post-ironic sustainable lomo kombucha hashtag crucifix four loko roof party. Cliche schlitz meggings prism next level. Meditation drinking vinegar woke thundercats yr umami kogi crucifix succulents flexitarian fam. Normcore health goth hoodie, gluten-free kogi bushwick beard jean shorts cronut dreamcatcher knausgaard pop-up schlitz. Viral palo santo kinfolk flannel banjo. Helvetica ennui kickstarter hoodie 3 wolf moon neutra hell of plaid.</p>

<figure class="adx w40">
  <img src="../../assets/adam-miller-dBaz0xhCkPY-unsplash.jpg" alt="" class="top">
  <figcaption>Astronaut with its width set to 40%.<cite><a href="http://www.unsplash.com/">NASA via Unsplash</a></cite></figcaption>
</figure>

{% highlight html %}

<figure class="adx w40">
  <img src="../../assets/adam-miller-dBaz0xhCkPY-unsplash.jpg" alt="" class="top">
  <figcaption>Astronaut with its width set to 40%.<cite><a href="http://www.unsplash.com/">NASA via Unsplash</a></cite></figcaption>
</figure>

{% endhighlight %}

<h4 class="adx-markup-label">Aside image</h4>

<aside class="adx image">
  <figure class="adx">
    <img src="../../assets/melody-less-hKOX4esmlsI-unsplash.jpg" alt="" class="top">
    <figcaption>Good doggo <cite><a href="#">Doggo pics r us  </a></cite></figcaption>
  </figure>
</aside>

<p>I'm baby fashion axe ugh try-hard meditation palo santo post-ironic sustainable lomo kombucha hashtag crucifix four loko roof party. Cliche schlitz meggings prism next level. Meditation drinking vinegar woke thundercats yr umami kogi crucifix succulents flexitarian fam. Normcore health goth hoodie, gluten-free kogi bushwick beard jean shorts cronut dreamcatcher knausgaard pop-up schlitz. Viral palo santo kinfolk flannel banjo. Helvetica ennui kickstarter hoodie 3 wolf moon neutra hell of plaid.</p>

<p>I'm baby fashion axe ugh try-hard meditation palo santo post-ironic sustainable lomo kombucha hashtag crucifix four loko roof party. Cliche schlitz meggings prism next level. Meditation drinking vinegar woke thundercats yr umami kogi crucifix succulents flexitarian fam. Normcore health goth hoodie, gluten-free kogi bushwick beard jean shorts cronut dreamcatcher knausgaard pop-up schlitz. Viral palo santo kinfolk flannel banjo. Helvetica ennui kickstarter hoodie 3 wolf moon neutra hell of plaid.</p>


{% highlight html %}

<aside class="adx image">
  <figure class="adx">
    <img src="../../assets/melody-less-hKOX4esmlsI-unsplash.jpg" alt="" class="top">
    <figcaption>Good doggo <cite><a href="#">Doggo pics r us  </a></cite></figcaption>
  </figure>
</aside>

{% endhighlight %}




