---

---


<h4 class="adx-markup-label">Blockquote</h4>

<blockquote>
    <p>You probably haven't heard of them artisan tbh, scenester slow-carb ethical shabby chic semiotics. Pickled chartreuse helvetica live-edge skateboard viral, 90's keffiyeh tofu roof party authentic direct trade tattooed 8-bit.</p>
    <cite>Albert Einstein</cite>
</blockquote>

{% highlight html %}
<!-- Blockquote HTML Usage -->
<blockquote>
    <p>You probably haven't heard of them artisan tbh, scenester slow-carb ethical shabby chic semiotics. Pickled chartreuse helvetica live-edge skateboard viral, 90's keffiyeh tofu roof party authentic direct trade tattooed 8-bit.</p>
    <cite>Albert Einstein</cite>
</blockquote>
{% endhighlight %}

<h4 class="adx-markup-label">Fancy quote</h4>

<blockquote class="fancyquote">
    <p>You probably haven't heard of them artisan tbh, scenester slow-carb ethical shabby chic semiotics. Pickled chartreuse helvetica live-edge skateboard viral, 90's keffiyeh tofu roof party authentic direct trade tattooed 8-bit.</p>
    <cite>Albert Einstein</cite>
</blockquote>

{% highlight html %}
<!-- Fancy quote HTML Usage -->
<blockquote class="fancyquote">
    <p>You probably haven't heard of them artisan tbh, scenester slow-carb ethical shabby chic semiotics. Pickled chartreuse helvetica live-edge skateboard viral, 90's keffiyeh tofu roof party authentic direct trade tattooed 8-bit.</p>
    <cite>Albert Einstein</cite>
</blockquote>
{% endhighlight %}

