
@import "tokens/_scale";
@import "tokens/_colour-list";
@import "tokens/_colour-build";

@import "utilities/_svg-factory";

@import "tokens/_text";
@import "tokens/_demo";
@import "modules/_cue";
@import "modules/_markup";
@import "modules/_quote";
@import "modules/_list-block";
@import "modules/_list-fancy";
@import "modules/_list-step";
@import "modules/_list-definition";
@import "modules/_list-icons";
@import "modules/_aside";
@import "modules/_button";
@import "modules/_divide";

body {
  font-family: $font-text;
  font-size: 18px;
  max-width: 75ch;
  margin: auto;
  padding: 2vh 5vw;
}
