// PROGRAM COLOURS

$primary: #102535;
$accent: #63E33B;
$complimentary: #7356C5;

//import font-awesome
@import url('https://pro.fontawesome.com/releases/v5.15.0/css/all.css');

@import "tokens/_scale";
@import "tokens/_colour-list";
@import "tokens/_colour-build";
@import "tokens/_colour-visualisation-build";
@import "tokens/_depth";
@import "tokens/_border";
@import "tokens/_aspects";
@import "tokens/_width";

@import "utilities/_svg-factory";
@import "utilities/_spacing";

@import "tokens/_text";
@import "tokens/_demo";
@import "modules/_cue";
@import "modules/_direction";
@import "modules/_markup";
@import "modules/_quote";
@import "modules/_list-variations";
@import "modules/_list-block";
@import "modules/_list-fancy";
@import "modules/_list-step";
@import "modules/_list-definition";
@import "modules/_list-icons";
@import "modules/_list-task";
@import "modules/_list-reference-apa";
@import "modules/_list-timeline";
@import "modules/_aside";
@import "modules/_buttons";
@import "modules/_divide";
@import "modules/_nav-subsection";
@import "modules/_nav-sequence";
@import "modules/_nav-table";
@import "modules/_nav-cards";
@import "modules/_nav-toc";
@import "modules/_card-image";
@import "modules/_code";
@import "modules/_figure";
@import "modules/_tables";
@import "modules/_hero";
@import "modules/_profile";
@import "modules/_status";
@import "modules/_details";
@import "modules/_video";
@import "modules/_links";
@import "modules/_toggle";
@import "modules/_podcast";
@import "modules/_cidilabs";
