---

---
<main style="width: 70vw;">
  <h4 class="adx-markup-label">Basic table</h4>

  <table class="adx">
    <caption>Here's an example basic table caption.</caption>
    <thead>
    <tr>
      <th class="">Name</th>
      <th>Contact</th>
      <th>Team</th>
      <th class="">Section</th>
      <th>Points</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Dom</td>
      <td>6000</td>
      <td>Detroit</td>
      <td>Back to front</td>
      <td>40</td>
    </tr>
    <tr class="active-row">
      <td>Melissa</td>
      <td>5150</td>
      <td>Paris</td>
      <td>Midfield</td>
      <td>31</td>
    </tr>
    </tbody>
  </table>

  {% highlight html %}
  <!-- Basic table HTML Usage -->
  <table class="adx">
    <caption>Here's an example basic table caption.</caption>
    <thead>
    <tr>
      <th class="">Name</th>
      <th>Contact</th>
      <th>Team</th>
      <th class="">Section</th>
      <th>Points</th>
    </tr>
    </thead>

    <tr>
      <td>Dom</td>
      <td>6000</td>
      <td>Detroit</td>
      <td>Back to front</td>
      <td>40</td>
    </tr>
    <tr class="active-row">
      <td>Melissa</td>
      <td>5150</td>
      <td>Paris</td>
      <td>Midfield</td>
      <td>31</td>
    </tr>
    </tbody>
  </table>

  {% endhighlight %}



  <h4 class="adx-markup-label">Dual-axis table</h4>

  <table class="adx">
    <caption>Here's an example basic table with two axes</caption>

    <tr>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
      <th>F</th>
      <th>G</th>
      <th>H</th>
    </tr>


    <tr>
      <th>B</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>C</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>D</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>E</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>


  </table>

  {% highlight html %}
  <!-- Basic table HTML Usage -->
  <table class="adx">
    <caption>Here's an example basic table with two axes</caption>

    <tr>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
    </tr>


    <tr>
      <th>B</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>C</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>D</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>E</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>


  </table>

  {% endhighlight %}




  <h4 class="adx-markup-label">Minimal table</h4>

  <table class="adx minimal">
    <caption>Here's an example minimal table caption.</caption>
    <thead>
    <tr>
      <th class="">Name</th>
      <th>Contact</th>
      <th>Team</th>
      <th class="">Section</th>
      <th>Points</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Dom</td>
      <td>6000</td>
      <td>Detroit</td>
      <td>Back to front</td>
      <td>40</td>
    </tr>
    <tr class="active-row">
      <td>Melissa</td>
      <td>5150</td>
      <td>Paris</td>
      <td>Midfield</td>
      <td>31</td>
    </tr>
    </tbody>
  </table>

  {% highlight html %}
  <!-- Basic table HTML Usage -->
  <table class="adx minimal">
    <caption>Here's an example basic table caption.</caption>
    <thead>
    <tr>
      <th class="">Name</th>
      <th>Contact</th>
      <th>Team</th>
      <th class="">Section</th>
      <th>Points</th>
    </tr>
    </thead>

    <tr>
      <td>Dom</td>
      <td>6000</td>
      <td>Detroit</td>
      <td>Back to front</td>
      <td>40</td>
    </tr>
    <tr class="active-row">
      <td>Melissa</td>
      <td>5150</td>
      <td>Paris</td>
      <td>Midfield</td>
      <td>31</td>
    </tr>
    </tbody>
  </table>

  {% endhighlight %}


  <h4 class="adx-markup-label">Simple table</h4>

  <table class="adx simple">
    <caption>Here's an example simple table caption.</caption>
    <thead>
    <tr>
      <th class="">Name</th>
      <th>Contact</th>
      <th>Team</th>
      <th class="">Section</th>
      <th>Points</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Dom</td>
      <td>6000</td>
      <td>Detroit</td>
      <td>Back to front</td>
      <td>40</td>
    </tr>
    <tr class="active-row">
      <td>Melissa</td>
      <td>5150</td>
      <td>Paris</td>
      <td>Midfield</td>
      <td>31</td>
    </tr>
    </tbody>
  </table>

  {% highlight html %}
  <!-- Simple table HTML Usage -->
  <table class="adx simple">
    <caption>Here's an example simple table caption.</caption>
    <thead>
    <tr>
      <th class="">Name</th>
      <th>Contact</th>
      <th>Team</th>
      <th class="">Section</th>
      <th>Points</th>
    </tr>
    </thead>

    <tr>
      <td>Dom</td>
      <td>6000</td>
      <td>Detroit</td>
      <td>Back to front</td>
      <td>40</td>
    </tr>
    <tr class="active-row">
      <td>Melissa</td>
      <td>5150</td>
      <td>Paris</td>
      <td>Midfield</td>
      <td>31</td>
    </tr>
    </tbody>
  </table>

  {% endhighlight %}


  <h4 class="adx-markup-label">Styled class table</h4>

  <table class="adx styled">
    <caption>Here's an example styled table caption.</caption>
    <thead>
    <tr>
      <th class="">Name</th>
      <th>Contact</th>
      <th>Team</th>
      <th class="">Section</th>
      <th>Points</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Dom</td>
      <td>6000</td>
      <td>Detroit</td>
      <td>Back to front</td>
      <td>40</td>
    </tr>
    <tr class="active-row">
      <td>Melissa</td>
      <td>5150</td>
      <td>Paris</td>
      <td>Midfield</td>
      <td>31</td>
    </tr>
    </tbody>
  </table>

  {% highlight html %}
  <!-- Styled table HTML Usage -->
  <table class="adx styled">
    <caption>Here's an example styled table caption.</caption>
    <thead>
    <tr>
      <th class="">Name</th>
      <th>Contact</th>
      <th>Team</th>
      <th class="">Section</th>
      <th>Points</th>
    </tr>
    </thead>

    <tr>
      <td>Dom</td>
      <td>6000</td>
      <td>Detroit</td>
      <td>Back to front</td>
      <td>40</td>
    </tr>
    <tr class="active-row">
      <td>Melissa</td>
      <td>5150</td>
      <td>Paris</td>
      <td>Midfield</td>
      <td>31</td>
    </tr>
    </tbody>
  </table>

  {% endhighlight %}

</main>


