---
---

<div class="grid-4">
  <button class="{{ class }} brand-red">Click Me</button>
  <button class="{{ class }} primary">Click Me</button>
  <button class="{{ class }} accent">Click Me</button>
  <button class="{{ class }} complimentary">Click Me</button>
  <p class="{{ class }} brand-midblue">Click Me</p>
  <p class="{{ class }}">Click Me</p>
</div>

{{ '<h2 class="adx-margin-top-xxl">Variations</h2>' if 'variants' in page.variants}}

{% for variant in variants %}
  <h4 class="adx-markup-section adx-markup-guide">{{ variant.title }}</h4>
  
  <p>{{ variant.description | renderUsingMarkdown | safe }}</p>
  
  <div class="{{ variant.name  }}">
    <p class="{{ class }} brand-red">Click Me</p>
    <p class="{{ class }} disabled ">Click Me</p>
    <p class="{{ class }} brand-midblue">Click Me</p>
  </div>
{% endfor %}

<h4 class="adx-markup-section adx-markup-guide">App Download Buttons</h4>

<div class="grid-2">
  <a href="" class="{{ class }} appstore ios" target="_blank"></a>
  <a href="" class="{{ class }} appstore google" target="_blank"></a> 
</div>