---

---
<header class="{{ class }}">
  <div class="image">
    <img src="../../assets/grapes.jpg" alt="" class="center-center">
  </div>
  <div class="make-history">
    <img src="../../assets/mh-stacked.jpg" alt="">
  </div>
  <div class="text">
    <h1>Welcome to Cyber Security Fundamentals</h1>
    <h5>Here's a tagline</h5>
  </div>
</header>


<h2>Usage</h2>

{% highlight html %}
<header class="adx-shield">
  <div class="image">
    <img src="../../assets/grapes.jpg" alt="" class="center-center">
  </div>
  <div class="make-history">
    <img src="../../assets/mh-stacked.jpg" alt="">
  </div>
  <div class="text">
    <h1>Welcome to Cyber Security Fundamentals</h1>
    <h5>Here's a tagline</h5>
  </div>
</header>
{% endhighlight %}


  {{ '<h2 class="adx-margin-top-xxl">Variations</h2>' if 'variants' in page.variants}}

<p class="adx">{{ variant-description | renderUsingMarkdown | safe }}</p>


{% for variant in variants %}
<header class="{{ class }}  {{ variant.shield-pos }}">
  <div class="image {{ variant.shield-pos }}">
    <img src="../../assets/bg-agriculture-food-wine.jpg" alt="" class="{{ variant.image-position }}">
  </div>
  <div class="make-history {{ variant.shield-pos }}">
    <img src="../../assets/mh-stacked.jpg" alt="">
  </div>
  <div class="overlay {{ variant.background }}"></div>
  <div class="text {{ variant.shield-pos }}">
    <{{ variant.h-level }}>Welcome to Cyber Security Fundamentals</{{ variant.h-level }}>
    <h5>{{ variant.description }}</h5>
  </div>
</header>
<p></p>
{% endfor %}
