---

---
<h4 class="adx-markup-label">Keypoints Aside</h4>

<aside class="adx keypoints">
    <header>
        <h3>Keypoints</h3>
    </header>
    <p>There are some really important things here:</p>
    <ul>
        <li>There's the first thing.</li>
        <li>Then the second thing.</li>
        <li>And finally the last thing.</li>
    </ul>
</aside>

<p>Hi there whats happening hope things are going well. I'm baby chartreuse cold-pressed green juice church-key, mixtape enamel pin migas shoreditch. Biodiesel af flannel, fixie literally kitsch slow-carb sriracha post-ironic. Live-edge celiac skateboard pork belly. Whatever pug poke hell of wolf franzen squid. Try-hard shoreditch ramps, church-key franzen artisan occupy chia copper mug lumbersexual. Tousled chambray artisan whatever next level brunch umami semiotics bespoke woke enamel pin typewriter pinterest. Live-edge celiac skateboard pork belly. Whatever pug poke hell of wolf franzen squid. Try-hard shoreditch ramps, church-key franzen artisan occupy chia copper mug lumbersexual. Tousled chambray artisan whatever next level brunch umami semiotics bespoke woke enamel pin typewriter pinterest.</p>

<br><br><br><br><br>

{% highlight html %}
<!-- Keypoints Aside HTML Usage -->
<aside class="adx keypoints">
    <header>
        <h3>Keypoints</h3>
    </header>
    <p>There are some really important things here:</p>
    <ul>
        <li>There's the first thing.</li>
        <li>Then the second thing.</li>
        <li>And finally the last thing.</li>
    </ul>
</aside>

<p>Hi there whats happening hope things are going well. I'm baby chartreuse cold-pressed green juice church-key, mixtape enamel pin migas shoreditch. Biodiesel af flannel, fixie literally kitsch slow-carb sriracha post-ironic. Live-edge celiac skateboard pork belly. Whatever pug poke hell of wolf franzen squid. Try-hard shoreditch ramps, church-key franzen artisan occupy chia copper mug lumbersexual. Tousled chambray artisan whatever next level brunch umami semiotics bespoke woke enamel pin typewriter pinterest. Live-edge celiac skateboard pork belly. Whatever pug poke hell of wolf franzen squid. Try-hard shoreditch ramps, church-key franzen artisan occupy chia copper mug lumbersexual. Tousled chambray artisan whatever next level brunch umami semiotics bespoke woke enamel pin typewriter pinterest.</p>
{% endhighlight %}


<br><br>
<h4 class="adx-markup-label">Left-aligned Aside</h4>

<aside class="adx left">
    <p>There are some really important things here:</p>
    <ul>
        <li>There's the first thing.</li>
        <li>Then the second thing.</li>
        <li>And finally the last thing.</li>
    </ul>
</aside>

<p>Hi there whats happening hope things are going well. I'm baby chartreuse cold-pressed green juice church-key, mixtape enamel pin migas shoreditch. Biodiesel af flannel, fixie literally kitsch slow-carb sriracha post-ironic. Live-edge celiac skateboard pork belly. Whatever pug poke hell of wolf franzen squid. Try-hard shoreditch ramps, church-key franzen artisan occupy chia copper mug lumbersexual. Tousled chambray artisan whatever next level brunch umami semiotics bespoke woke enamel pin typewriter pinterest. Live-edge celiac skateboard pork belly. Whatever pug poke hell of wolf franzen squid. Try-hard shoreditch ramps, church-key franzen artisan occupy chia copper mug lumbersexual. Tousled chambray artisan whatever next level brunch umami semiotics bespoke woke enamel pin typewriter pinterest.</p>

<br><br>

{% highlight html %}
<!-- Left Aside HTML Usage -->
<aside class="adx left">
    <p>There are some really important things here:</p>
    <ul>
        <li>There's the first thing.</li>
        <li>Then the second thing.</li>
        <li>And finally the last thing.</li>
    </ul>
</aside>


<p>Hi there whats happening hope things are going well. I'm baby chartreuse cold-pressed green juice church-key, mixtape enamel pin migas shoreditch. Biodiesel af flannel, fixie literally kitsch slow-carb sriracha post-ironic. Live-edge celiac skateboard pork belly. Whatever pug poke hell of wolf franzen squid. Try-hard shoreditch ramps, church-key franzen artisan occupy chia copper mug lumbersexual. Tousled chambray artisan whatever next level brunch umami semiotics bespoke woke enamel pin typewriter pinterest. Live-edge celiac skateboard pork belly. Whatever pug poke hell of wolf franzen squid. Try-hard shoreditch ramps, church-key franzen artisan occupy chia copper mug lumbersexual. Tousled chambray artisan whatever next level brunch umami semiotics bespoke woke enamel pin typewriter pinterest.</p>
{% endhighlight %}
