---

---
<div class="{{ class }}">

  <p>Hi there <span class="adx-markup-highlight">whats happening</span> hope things are going well. I'm baby chartreuse cold-pressed green juice church-key, mixtape enamel pin migas shoreditch. Biodiesel af flannel, fixie literally kitsch slow-carb sriracha post-ironic. Live-edge celiac skateboard pork belly. Whatever pug poke hell of wolf franzen squid. Try-hard shoreditch ramps, church-key franzen artisan occupy chia copper mug lumbersexual. Tousled chambray artisan whatever next level brunch umami semiotics bespoke woke enamel pin typewriter pinterest.</p>
</div>


{{ '<h2 class="adx-margin-top-xxl">Variations</h2>' if 'variants' in page.variants}}

<p class="adx">{{ variant-description | renderUsingMarkdown | safe }}</p>

{% for variant in variants %}  
  <div class="{{ variant }}">
    <p>This cue box is using the <code>{{ variant }}</code> class to colour and define the side of the colour.</p>
  </div>

{% endfor %}

<h2>Persona Cue</h2>
<h4 class="adx-markup-label">Base Persona</h4>

<div class="{{ class }} persona">
  <div class="persona-image">
    <img src="../../assets/2.jpg" alt="" class="persona">
  </div>
  <div class="persona-content">
    <h5>Persona Name</h5>
  <p>Testing content!</p>
  </div>

</div>

{% highlight html %}
<div class="adx-cue persona">
  <div class="persona-image">
    <img src="../../assets/2.jpg" alt="" class="persona">
  </div>
  <div class="persona-content">
    <h5>Persona Name</h5>
  <p>Testing content!</p>
  </div>

</div>
{% endhighlight %}

<h4 class="adx-markup-label">Blue Persona</h4>

<div class="adx-cue persona-brand-midblue">
  <div class="persona-image">
    <img src="../../assets/2.jpg" alt="" class="persona">
  </div>
  <div class="persona-content">
    <h5>Persona Name</h5>
  <p>Testing content!</p>
  </div>

</div>

{% highlight html %}
<div class="adx-cue persona-brand-midblue">
  <div class="persona-image">
    <img src="../../assets/2.jpg" alt="" class="persona">
  </div>
  <div class="persona-content">
    <h5>Persona Name</h5>
  <p>Testing content!</p>
  </div>

</div>
{% endhighlight %}

<h4 class="adx-markup-label">Purple Persona</h4>

<div class="{{ class }} persona-question">
  <div class="persona-image">
    <img src="../../assets/2.jpg" alt="" class="persona">
  </div>
  <div class="persona-content">
    <h5>Persona Name</h5>
  <p>Testing content!</p>
  </div>

</div>

{% highlight html %}
<div class="adx-cue persona-question">
  <div class="persona-image">
    <img src="../../assets/2.jpg" alt="" class="persona">
  </div>
  <div class="persona-content">
    <h5>Persona Name</h5>
  <p>Testing content!</p>
  </div>

</div>
{% endhighlight %}

<h4 class="adx-markup-label">Orange Persona</h4>

<div class="{{ class }} persona-warning">
  <div class="persona-image">
    <img src="../../assets/2.jpg" alt="" class="persona">
  </div>
  <div class="persona-content">
    <h5>Persona Name</h5>
  <p>Testing content!</p>
  </div>

</div>

{% highlight html %}
<div class="adx-cue persona-warning">
  <div class="persona-image">
    <img src="../../assets/2.jpg" alt="" class="persona">
  </div>
  <div class="persona-content">
    <h5>Persona Name</h5>
  <p>Testing content!</p>
  </div>

</div>
{% endhighlight %}

<h4 class="adx-markup-label">Green Persona</h4>

<div class="{{ class }} persona-positive">
  <div class="persona-image">
    <img src="../../assets/2.jpg" alt="" class="persona">
  </div>
  <div class="persona-content">
    <h5>Persona Name</h5>
  <p>Testing content!</p>
  </div>

</div>

{% highlight html %}
<div class="adx-cue persona-positive">
  <div class="persona-image">
    <img src="../../assets/2.jpg" alt="" class="persona">
  </div>
  <div class="persona-content">
    <h5>Persona Name</h5>
  <p>Testing content!</p>
  </div>

</div>
{% endhighlight %}