<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ 'css/style.css' | url }}" />
</head>
<body>
	<header>
		<h1 class="adx-markup-header adx-markup-caps">{{ title }}</h1>
	</header>
	<main>
		
	<h4 class="adx-markup-label">Colour Samples</h4>
	
	<div class="colour-samples">
		{% for colour in palette %}
		<div class="colour-items">
			<div class="colour-block bg-{{ colour }}-tint">tint</div>
			<div class="colour-block bg-{{ colour }}-lightest">lightest</div>
			<div class="colour-block bg-{{ colour }}-lighter">lighter</div>
			<div class="colour-block bg-{{ colour }}-light">light</div>
			<div class="colour-block bg-{{ colour }}">{{ colour }}</div>
			<div class="colour-block bg-{{ colour }}-dark">dark</div>
			<div class="colour-block bg-{{ colour }}-darker">darker</div>
		</div>
		{% endfor %}
		</div>
	{{ content | safe }}
	</main>
</body>
</html>
