<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ '/assets/style.css' | url }}" />
	<link href="https://unpkg.com/prismjs@1.20.0/themes/prism.css" rel="stylesheet">

	<link rel="icon" href="https://styleguide-v3.adelaide.edu.au/assets/img/icons/apple-touch-icon-144-precomposed.png" type="image/x-icon">
</head>
<body class="mapper adx">

	    {{ content | safe }}

</body>
</html>
