---

---



<h4 class="adx-markup-label">Fancy Ordered List</h4>

<ol class="fancy-ol">
    <li>Gather your ingredients</li>
    <li>Pour all the ingreients into a bowl</li>
    <li>Stir and mix together</li>
    <li>Place into the over to cook</li>
    <li>Remove from the oven and eat</li>
    <li>Meditation cray snackwave raw denim thundercats banh mi. XOXO pour-over unicorn bushwick YOLO brunch. Flexitarian direct trade hammock cloud bread art party occupy. Slow-carb glossier literally thundercats truffaut, church-key quinoa tousled. Pour-over asymmetrical brooklyn narwhal, hell of waistcoat 8-bit irony.</li>
</ol>

{% highlight html %}
<!-- Fancy ordered list HTML Usage -->
<ol class="fancy-ol">
    <li>Gather your ingredients</li>
    <li>Pour all the ingreients into a bowl</li>
    <li>Stir and mix together</li>
    <li>Place into the over to cook</li>
    <li>Remove from the oven and eat</li>
    <li>Meditation cray snackwave raw denim thundercats banh mi. XOXO pour-over unicorn bushwick YOLO brunch. Flexitarian direct trade hammock cloud bread art party occupy. Slow-carb glossier literally thundercats truffaut, church-key quinoa tousled. Pour-over asymmetrical brooklyn narwhal, hell of waistcoat 8-bit irony.</li>
</ol>
{% endhighlight %}

<h4 class="adx-markup-label">Step List</h4>

<ul class="step-list">
    <li class="step-2">Gather your ingredients</li>
    <li>Pour all the ingreients into a bowl</li>
    <li>Stir and mix together</li>
    <li>Place into the over to cook</li>
    <li>Remove from the oven and eat</li>
    <li>Meditation cray snackwave raw denim thundercats banh mi. XOXO pour-over unicorn bushwick YOLO brunch. Flexitarian direct trade hammock cloud bread art party occupy. Slow-carb glossier literally thundercats truffaut, church-key quinoa tousled. Pour-over asymmetrical brooklyn narwhal, hell of waistcoat 8-bit irony.</li>
</ul>

{% highlight html %}
<!-- Stepped list HTML Usage -->
<ul class="step-list">
    <li class="step-2">Gather your ingredients</li>
    <li>Pour all the ingreients into a bowl</li>
    <li>Stir and mix together</li>
    <li>Place into the over to cook</li>
    <li>Remove from the oven and eat</li>
    <li>Meditation cray snackwave raw denim thundercats banh mi. XOXO pour-over unicorn bushwick YOLO brunch. Flexitarian direct trade hammock cloud bread art party occupy. Slow-carb glossier literally thundercats truffaut, church-key quinoa tousled. Pour-over asymmetrical brooklyn narwhal, hell of waistcoat 8-bit irony.</li>
</ul>
{% endhighlight %}

<h3>Definitions and Glossaries</h3>

<h4 class="adx-markup-label">Definition List</h4>

<dl>
    <dt>Here is a term</dt>
    <dd>Meditation cray snackwave raw denim thundercats banh mi. XOXO pour-over unicorn bushwick YOLO brunch. Flexitarian direct trade hammock cloud bread art party occupy. Slow-carb glossier literally thundercats truffaut, church-key quinoa tousled. Pour-over asymmetrical brooklyn narwhal, hell of waistcoat 8-bit irony.</dd>
    <dt>Here is a term</dt>
    <dd>Here is the information about that term.</dd>
    <dt>Here is a term</dt>
    <dd>Here is the information about that term.</dd>
    <dt>Here is a term</dt>
    <dd>Here is the information about that term.</dd>
</dl>

{% highlight html %}
<!-- Definition list HTML Usage -->
<dl>
    <dt>Here is a term</dt>
    <dd>Meditation cray snackwave raw denim thundercats banh mi. XOXO pour-over unicorn bushwick YOLO brunch. Flexitarian direct trade hammock cloud bread art party occupy. Slow-carb glossier literally thundercats truffaut, church-key quinoa tousled. Pour-over asymmetrical brooklyn narwhal, hell of waistcoat 8-bit irony.</dd>
    <dt>Here is a term</dt>
    <dd>Here is the information about that term.</dd>
    <dt>Here is a term</dt>
    <dd>Here is the information about that term.</dd>
    <dt>Here is a term</dt>
    <dd>Here is the information about that term.</dd>
</dl>
{% endhighlight %}

<h4 class="adx-markup-label">Glossary Tooltip</h4>
<p><em>Note: this depends on some JavaScript being added to the OUA/LEI Development/Alliance sub-accounts. This won't work in-course until that's been completed!</em></p>
<p>Glossary page needs to be created in the same course, using a definition list layout. A script will then get all of the terms and matching definitions and apply a tooltip to the content.</p>
<br>
<div style="width: 60%;margin:auto;">
    <p>A <span class="tooltip">glossary<span class="tooltiptext">A page in MyUni containing terms and definitions </span></span> will provide definitions for a <span class="tooltip">term<span class="tooltiptext">Definition text</span></span> inside a course content page.</p>
</div>

{% highlight html %}
<!-- Tooltip manual HTML Usage; this should be automated though -->
<p>A <span class="tooltip">glossary<span class="tooltiptext">A page in MyUni containing terms and definitions</span></span> will provide definitions for a <span class="tooltip">term<span class="tooltiptext">Definition text</span></span> inside a course content page.</p>
{% endhighlight %}



