---

---
<h4 class="adx-markup-label">Individual Profile Card</h4>

<article class="adx-profile">
    <img src="assets/2.jpg" alt="">
    <section>
        <h3 class="name">Christian Surname</h3>
        <p class="title">Senior Deputy Vice President</p>
        <p class="location">Adelaide, Australia</p>
        <p class="contact">christian.surname@adelaide.edu.au</p>
        <p class="availability">Mon-Fri 9-3pm</p>
        <p>Here's my bio about stuff</p>
    </section>
</article>

{% highlight html %}
<!-- Individual profile card HTML Usage -->
<article class="adx-profile">
    <img src="assets/2.jpg" alt="">
    <section>
        <h3 class="name">Christian Surname</h3>
        <p class="title">Senior Deputy Vice President</p>
        <p class="location">Adelaide, Australia</p>
        <p class="contact">christian.surname@adelaide.edu.au</p>
        <p class="availability">Mon-Fri 9-3pm</p>
        <p>Here's my bio about stuff</p>
    </section>
</article>
{% endhighlight %}

<h4 class="adx-markup-label">Grouped Course Profile Block</h4>

<article class="adx-profile">
    <img src="assets/2.jpg" alt="">
    <section>
        <h3 class="name">Christian Surname</h3>
        <p class="title">Senior Deputy Vice President</p>
        <p class="location">Adelaide, Australia</p>
        <p class="contact">christian.surname@adelaide.edu.au</p>
        <p class="availability">Mon-Fri 9-3pm</p>
        <p>Here's my bio about stuff</p>
    </section>
    <img src="assets/2.jpg" alt="">
    <section>
        <h3 class="name">Christian Surname</h3>
        <p class="title">Senior Deputy Vice President</p>
        <p class="location">Adelaide, Australia</p>
        <p class="contact">christian.surname@adelaide.edu.au</p>
        <p class="availability">Mon-Fri 9-3pm</p>
        <p>Here's my bio about stuff</p>
    </section>
</article>

{% highlight html %}
<!-- Grouped profile list HTML Usage -->
<article class="adx-profile">
    <img src="assets/2.jpg" alt="">
    <section>
        <h3 class="name">Christian Surname</h3>
        <p class="title">Senior Deputy Vice President</p>
        <p class="location">Adelaide, Australia</p>
        <p class="contact">christian.surname@adelaide.edu.au</p>
        <p class="availability">Mon-Fri 9-3pm</p>
        <p>Here's my bio about stuff</p>
    </section>
    <img src="assets/2.jpg" alt="">
    <section>
        <h3 class="name">Christian Surname</h3>
        <p class="title">Senior Deputy Vice President</p>
        <p class="location">Adelaide, Australia</p>
        <p class="contact">christian.surname@adelaide.edu.au</p>
        <p class="availability">Mon-Fri 9-3pm</p>
        <p>Here's my bio about stuff</p>
    </section>
</article>
{% endhighlight %}
