/**
 * Author: Kevin Weber
 *
 * Follow me: @kevinweber (https://twitter.com/kevinweber)
 * Website: http://kevinw.de
 *
 * License: CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/)
 *
 * Code from https://codepen.io/kevinweber/pen/dXWoRw
 */

 // Icons from https://iconsvg.xyz/

// Add your SVG code here:
@function svg-sun($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="' + $colour + ' " stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5"/><path d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4"/></svg>';
}
$sun-accent: svg-sun($accent);  // Blue
$sun-complimentary: svg-sun($complimentary);  // Black
$sun-red: svg-sun($brand-red);
$sun-rev: svg-sun($ui-rev);

@function svg-thumb($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="' + $colour + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>';
}
$thumb-accent: svg-thumb($accent);
$thumb-compliment: svg-thumb($complimentary);

@function svg-info($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="' + $colour + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>';
}
$info-accent: svg-info($accent);
$info-compliment: svg-info($complimentary);
$info-rev: svg-info($ui-rev);
$info-blk: svg-info($ui-blk);

@function svg-question($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="' + $colour + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>';
}
$question-accent: svg-question($accent);
$question-compliment: svg-question($complimentary);
$question-rev: svg-question($ui-rev);
$question-blk: svg-question($ui-blk);


@function svg-exclaim($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 576 512" fill="'+ $colour +'"><path d="M248.747 204.705l6.588 112c.373 6.343 5.626 11.295 11.979 11.295h41.37a12 12 0 0 0 11.979-11.295l6.588-112c.405-6.893-5.075-12.705-11.979-12.705h-54.547c-6.903 0-12.383 5.812-11.978 12.705zM330 384c0 23.196-18.804 42-42 42s-42-18.804-42-42 18.804-42 42-42 42 18.804 42 42zm-.423-360.015c-18.433-31.951-64.687-32.009-83.154 0L6.477 440.013C-11.945 471.946 11.118 512 48.054 512H527.94c36.865 0 60.035-39.993 41.577-71.987L329.577 23.985zM53.191 455.002L282.803 57.008c2.309-4.002 8.085-4.002 10.394 0l229.612 397.993c2.308 4-.579 8.998-5.197 8.998H58.388c-4.617.001-7.504-4.997-5.197-8.997z"/></svg>';


}
$exclaim-accent: svg-exclaim($accent);
$exclaim-compliment: svg-exclaim($complimentary);
$exclaim-rev: svg-exclaim($ui-rev);
$exclaim-blk: svg-exclaim($ui-blk);

@function svg-incorrect($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="' + $colour + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>';
}
$incorrect-accent: svg-incorrect($accent);
$incorrect-compliment: svg-incorrect($complimentary);
$incorrect-rev: svg-incorrect($ui-rev);
$incorrect-blk: svg-incorrect($ui-blk);

@function svg-correct($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="' + $colour + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>';
}
$correct-accent: svg-correct($accent);
$correct-compliment: svg-correct($complimentary);
$correct-rev: svg-correct($ui-rev);
$correct-blk: svg-correct($ui-blk);


@function svg-empty($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="' + $colour + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle></svg>';
}

@function svg-done($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="' + $colour + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>';
}
$task-empty: svg-empty($ui-neutral-darker);
$task-done: svg-done($accent);

@function svg-download($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="' + $colour + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 15v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4M17 9l-5 5-5-5M12 12.8V2.5"/></svg>';
}
$download-primary: svg-download($primary);
$download-accent: svg-download($accent);
$download-neutral: svg-download($ui-neutral-darkest);
$download-blk: svg-download($ui-blk);
$download-rev: svg-download($ui-rev);

@function svg-external($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="' + $colour + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><g fill="none" fill-rule="evenodd"><path d="M18 14v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8c0-1.1.9-2 2-2h5M15 3h6v6M10 14L20.2 3.8"/></g></svg>';
}
$external-primary: svg-external($primary);
$external-accent: svg-external($accent);
$external-neutral: svg-external($ui-neutral-darkest);
$external-blk: svg-external($ui-blk);
$external-rev: svg-external($ui-rev);

@function svg-play($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="' + $colour + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>';
}
$play-primary: svg-play($primary);
$play-accent: svg-play($accent);
$play-complimentary: svg-play($complimentary);
$play-blk: svg-play($ui-blk);
$play-rev: svg-play($ui-rev);

@function svg-location($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="'+ $colour +'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17.7,10.8L12,22.9L6.3,10.8c-1.9-4.1,0.7-9,5.2-9.4c0.2,0,0.4,0,0.6,0s0.4,0,0.6,0C17.1,1.8,19.7,6.7,17.7,10.8z"/><circle class="st0" cx="12" cy="7.8" r="2.5"/></svg>';
}

$location-primary: svg-location($primary);
$location-accent: svg-location($accent);
$location-neutral: svg-location($ui-neutral-darkest);


@function svg-at-sign($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="'+ $colour +'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>';
}
$at-sign-primary: svg-at-sign($primary);
$at-sign-accent: svg-at-sign($accent);
$at-sign-neutral: svg-at-sign($ui-neutral-darkest);


@function svg-calendar($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="'+ $colour +'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>';
}
$calendar-primary: svg-calendar($primary);
$calendar-accent: svg-calendar($accent);
$calendar-neutral: svg-calendar($ui-neutral-darkest);



@function svg-expand($colour) {
  @return '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 498 562" fill="'+ $colour +'"><path d="M447.9 332l.1 136c0 6.6-5.4 12-12 12l-136-.1c-6.6 0-12-5.4-12-12v-27.8c0-6.7 5.5-12.1 12.2-12l61.4 2.3 1.4-1.4-139-139L85 429l1.4 1.4 61.4-2.3c6.7-.1 12.2 5.3 12.2 12v27.8c0 6.6-5.4 12-12 12L12 480c-6.6 0-12-5.4-12-12l.1-136c0-6.6 5.4-12 12-12h27.8c6.7 0 12.1 5.5 12 12.2l-2.3 61.4L51 395l139-139L51 117l-1.4 1.4 2.3 61.4c.1 6.7-5.3 12.2-12 12.2H12.1c-6.6 0-12-5.4-12-12L0 44c0-6.6 5.4-12 12-12l136 .1c6.6 0 12 5.4 12 12v27.8c0 6.7-5.5 12.1-12.2 12l-61.4-2.3L85 83l139 139L363 83l-1.4-1.4-61.4 2.3c-6.7.1-12.2-5.3-12.2-12V44.1c0-6.6 5.4-12 12-12l136-.1c6.6 0 12 5.4 12 12l-.1 136c0 6.6-5.4 12-12 12h-27.8c-6.7 0-12.1-5.5-12-12.2l2.3-61.4-1.4-1.4-139 139 139 139 1.4-1.4-2.3-61.4c-.1-6.7 5.3-12.2 12-12.2h27.8c6.6 0 12 5.4 12 12z"/></svg>';
}
$expand-accent: svg-expand($accent);
$expand-compliment: svg-expand($complimentary);
$expand-rev: svg-expand($ui-rev);
$expand-blk: svg-expand($ui-blk);

// Thanks to Hugo Giraudel for his str-replace function (http://www.sassmeister.com/gist/1b4f2da5527830088e4d)
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

$encoding-reference: (
  //('%','%25'),  // Encode "%" first, otherwise the "%" from encoded code would be encoded again (which would be bad)
  ('<','%3C'),
  ('>','%3E'),
  //('"','%22'),  // Replace " with ' because that's shorter than %22 and normally working
  ('"','\''),
  ('#','%23'),
  ('&','%26')
);

@function svg-encode($svg) {
  @each $char, $encoded in $encoding-reference {
    $svg: str-replace($svg, $char, $encoded);
  }
  @return 'data:image/svg+xml,' + $svg;
}
