<ul class="adx-card-images ">
  <li>
    <header>
      <img src="../../css/diff-square.jpg" alt="">
      <h2>Heading here and adding a longer heading</h2>
    </header>
    <article class="">
      <p>text</p>
    </article> 
    <footer>
      <p class="adx-button complimentary">ButtonText</p>
    </footer>
  </li>
  <li>
    <header>
      <img src="../../css/poly-pattern-horizontal.jpg" alt="">
      <h3>Heading here</h3>
    </header>
    <article class="">
      <p>text</p>
    </article> 
    <footer>
      <p class="adx-button primary">ButtonText</p>
    </footer>
  </li>
  <li>
    <header>
      <img src="../../css/2.jpg" alt="" class="top">
      <h4>Heading here</h4>
    </header>
    <article class="">
      <p>text</p>
    </article> 
    <footer>
      <p class="adx-button primary">Button Text Button Text Button Text Button Text </p>
    </footer>
  </li>
</ul>
