---

---
<main style="width:100vw">
<section class="adx video">

<header>
  <h2>Video Title</h2>
  <p>Something about this video.</p>
</header>

<div class="videoWrapper">
  <iframe title="YouTube video player" src="https://www.youtube-nocookie.com/embed/U9OPRtMRwE0" width="560" height="315" allowfullscreen="allowfullscreen" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
</div>

<footer>
  <div class="v-icon-holder">
    <a href="#" class="adx-icon download">Audio Only [.mp3]</a>
  </div>
  <div class="v-icon-holder">
  <a href="#" class="adx-icon download">Transcript [.txt]</a>
</div>
  <div class="v-icon-holder">
  <a href="#" class="adx-icon external">YouTube</a>
</div>
</footer>

</section>
</main>