@charset "UTF-8";
.adx-brand-darkblue-lightest {
  color: #e7e9eb !important;
}

.adx-brand-darkblue-lighter {
  color: #3985be !important;
}

.adx-brand-darkblue-light {
  color: #2e6997 !important;
}

.adx-brand-darkblue {
  color: #102535 !important;
}

.adx-brand-darkblue-dark {
  color: #0b1a25 !important;
}

.adx-brand-darkblue-darker {
  color: #0a1620 !important;
}

.adx-brand-darkblue-tint {
  color: #eceeef !important;
}

.adx-brand-darkblue-trans-50 {
  color: rgba(16, 37, 53, 0.5) !important;
}

.adx-brand-darkblue-trans-70 {
  color: rgba(16, 37, 53, 0.3) !important;
}

.adx-brand-darkblue-trans-80 {
  color: rgba(16, 37, 53, 0.2) !important;
}

.adx-bg-brand-darkblue-tint {
  background: #eceeef !important;
  color: #000;
}

.adx-bg-brand-darkblue-lightest {
  background: #9fa8ae !important;
  color: #000;
}

.adx-bg-brand-darkblue-lighter {
  background: #707c86 !important;
  color: #fff;
}

.adx-bg-brand-darkblue-light {
  background: #40515d !important;
  color: #fff;
}

.adx-bg-brand-darkblue {
  background: #102535 !important;
  color: #fff;
}

.adx-bg-brand-darkblue-dark {
  background: #0b1a25 !important;
  color: #fff;
}

.adx-bg-brand-darkblue-darker {
  background: #0a1620 !important;
  color: #fff;
}

.adx-bg-brand-darkblue-trans-50 {
  background: rgba(16, 37, 53, 0.5) !important;
  color: #000;
}

.adx-bg-brand-darkblue-trans-70 {
  background: rgba(16, 37, 53, 0.3) !important;
  color: #000;
}

.adx-bg-brand-darkblue-trans-80 {
  background: rgba(16, 37, 53, 0.2) !important;
  color: #000;
}

.adx-brand-midblue-lightest {
  color: #e6eff5 !important;
}

.adx-brand-midblue-lighter {
  color: #50b5ff !important;
}

.adx-brand-midblue-light {
  color: #1d9fff !important;
}

.adx-brand-midblue {
  color: #005a9c !important;
}

.adx-brand-midblue-dark {
  color: #003f6d !important;
}

.adx-brand-midblue-darker {
  color: #00365e !important;
}

.adx-brand-midblue-tint {
  color: #ebf2f7 !important;
}

.adx-brand-midblue-trans-50 {
  color: rgba(0, 90, 156, 0.5) !important;
}

.adx-brand-midblue-trans-70 {
  color: rgba(0, 90, 156, 0.3) !important;
}

.adx-brand-midblue-trans-80 {
  color: rgba(0, 90, 156, 0.2) !important;
}

.adx-bg-brand-midblue-tint {
  background: #ebf2f7 !important;
  color: #000;
}

.adx-bg-brand-midblue-lightest {
  background: #99bdd7 !important;
  color: #000;
}

.adx-bg-brand-midblue-lighter {
  background: #669cc4 !important;
  color: #000;
}

.adx-bg-brand-midblue-light {
  background: #337bb0 !important;
  color: #fff;
}

.adx-bg-brand-midblue {
  background: #005a9c !important;
  color: #fff;
}

.adx-bg-brand-midblue-dark {
  background: #003f6d !important;
  color: #fff;
}

.adx-bg-brand-midblue-darker {
  background: #00365e !important;
  color: #fff;
}

.adx-bg-brand-midblue-trans-50 {
  background: rgba(0, 90, 156, 0.5) !important;
  color: #000;
}

.adx-bg-brand-midblue-trans-70 {
  background: rgba(0, 90, 156, 0.3) !important;
  color: #000;
}

.adx-bg-brand-midblue-trans-80 {
  background: rgba(0, 90, 156, 0.2) !important;
  color: #000;
}

.adx-brand-lightblue-lightest {
  color: #f8fcfd !important;
}

.adx-brand-lightblue-lighter {
  color: white !important;
}

.adx-brand-lightblue-light {
  color: white !important;
}

.adx-brand-lightblue {
  color: #b8dceb !important;
}

.adx-brand-lightblue-dark {
  color: #819aa5 !important;
}

.adx-brand-lightblue-darker {
  color: #6e848d !important;
}

.adx-brand-lightblue-tint {
  color: #f9fcfd !important;
}

.adx-brand-lightblue-trans-50 {
  color: rgba(184, 220, 235, 0.5) !important;
}

.adx-brand-lightblue-trans-70 {
  color: rgba(184, 220, 235, 0.3) !important;
}

.adx-brand-lightblue-trans-80 {
  color: rgba(184, 220, 235, 0.2) !important;
}

.adx-bg-brand-lightblue-tint {
  background: #f9fcfd !important;
  color: #000;
}

.adx-bg-brand-lightblue-lightest {
  background: #e3f1f7 !important;
  color: #000;
}

.adx-bg-brand-lightblue-lighter {
  background: #d4eaf3 !important;
  color: #000;
}

.adx-bg-brand-lightblue-light {
  background: #c6e3ef !important;
  color: #000;
}

.adx-bg-brand-lightblue {
  background: #b8dceb !important;
  color: #000;
}

.adx-bg-brand-lightblue-dark {
  background: #819aa5 !important;
  color: #000;
}

.adx-bg-brand-lightblue-darker {
  background: #6e848d !important;
  color: #fff;
}

.adx-bg-brand-lightblue-trans-50 {
  background: rgba(184, 220, 235, 0.5) !important;
  color: #000;
}

.adx-bg-brand-lightblue-trans-70 {
  background: rgba(184, 220, 235, 0.3) !important;
  color: #000;
}

.adx-bg-brand-lightblue-trans-80 {
  background: rgba(184, 220, 235, 0.2) !important;
  color: #000;
}

.adx-brand-gold-lightest {
  color: #f7f3e6 !important;
}

.adx-brand-gold-lighter {
  color: #f9d875 !important;
}

.adx-brand-gold-light {
  color: #f7ca44 !important;
}

.adx-brand-gold {
  color: #b38808 !important;
}

.adx-brand-gold-dark {
  color: #7d5f06 !important;
}

.adx-brand-gold-darker {
  color: #6b5205 !important;
}

.adx-brand-gold-tint {
  color: #f9f5eb !important;
}

.adx-brand-gold-trans-50 {
  color: rgba(179, 136, 8, 0.5) !important;
}

.adx-brand-gold-trans-70 {
  color: rgba(179, 136, 8, 0.3) !important;
}

.adx-brand-gold-trans-80 {
  color: rgba(179, 136, 8, 0.2) !important;
}

.adx-bg-brand-gold-tint {
  background: #f9f5eb !important;
  color: #000;
}

.adx-bg-brand-gold-lightest {
  background: #e1cf9c !important;
  color: #000;
}

.adx-bg-brand-gold-lighter {
  background: #d1b86b !important;
  color: #000;
}

.adx-bg-brand-gold-light {
  background: #c2a039 !important;
  color: #000;
}

.adx-bg-brand-gold {
  background: #b38808 !important;
  color: #000;
}

.adx-bg-brand-gold-dark {
  background: #7d5f06 !important;
  color: #fff;
}

.adx-bg-brand-gold-darker {
  background: #6b5205 !important;
  color: #fff;
}

.adx-bg-brand-gold-trans-50 {
  background: rgba(179, 136, 8, 0.5) !important;
  color: #000;
}

.adx-bg-brand-gold-trans-70 {
  background: rgba(179, 136, 8, 0.3) !important;
  color: #000;
}

.adx-bg-brand-gold-trans-80 {
  background: rgba(179, 136, 8, 0.2) !important;
  color: #000;
}

.adx-brand-red-lightest {
  color: #fbe6e6 !important;
}

.adx-brand-red-lighter {
  color: #ff8888 !important;
}

.adx-brand-red-light {
  color: #ff5555 !important;
}

.adx-brand-red {
  color: #d40000 !important;
}

.adx-brand-red-dark {
  color: #940000 !important;
}

.adx-brand-red-darker {
  color: #7f0000 !important;
}

.adx-brand-red-tint {
  color: #fcebeb !important;
}

.adx-brand-red-trans-50 {
  color: rgba(212, 0, 0, 0.5) !important;
}

.adx-brand-red-trans-70 {
  color: rgba(212, 0, 0, 0.3) !important;
}

.adx-brand-red-trans-80 {
  color: rgba(212, 0, 0, 0.2) !important;
}

.adx-bg-brand-red-tint {
  background: #fcebeb !important;
  color: #000;
}

.adx-bg-brand-red-lightest {
  background: #ee9999 !important;
  color: #000;
}

.adx-bg-brand-red-lighter {
  background: #e56666 !important;
  color: #000;
}

.adx-bg-brand-red-light {
  background: #dd3333 !important;
  color: #fff;
}

.adx-bg-brand-red {
  background: #d40000 !important;
  color: #fff;
}

.adx-bg-brand-red-dark {
  background: #940000 !important;
  color: #fff;
}

.adx-bg-brand-red-darker {
  background: #7f0000 !important;
  color: #fff;
}

.adx-bg-brand-red-trans-50 {
  background: rgba(212, 0, 0, 0.5) !important;
  color: #000;
}

.adx-bg-brand-red-trans-70 {
  background: rgba(212, 0, 0, 0.3) !important;
  color: #000;
}

.adx-bg-brand-red-trans-80 {
  background: rgba(212, 0, 0, 0.2) !important;
  color: #000;
}

.adx-neutral-lightest {
  color: #f8f9f9 !important;
}

.adx-neutral-lighter {
  color: white !important;
}

.adx-neutral-light {
  color: white !important;
}

.adx-neutral {
  color: #B9C0C6 !important;
}

.adx-neutral-dark {
  color: #82868b !important;
}

.adx-neutral-darker {
  color: #6f7377 !important;
}

.adx-neutral-tint {
  color: #f9fafa !important;
}

.adx-neutral-trans-50 {
  color: rgba(185, 192, 198, 0.5) !important;
}

.adx-neutral-trans-70 {
  color: rgba(185, 192, 198, 0.3) !important;
}

.adx-neutral-trans-80 {
  color: rgba(185, 192, 198, 0.2) !important;
}

.adx-bg-neutral-tint {
  background: #f9fafa !important;
  color: #000;
}

.adx-bg-neutral-lightest {
  background: #e3e6e8 !important;
  color: #000;
}

.adx-bg-neutral-lighter {
  background: #d5d9dd !important;
  color: #000;
}

.adx-bg-neutral-light {
  background: #c7cdd1 !important;
  color: #000;
}

.adx-bg-neutral {
  background: #B9C0C6 !important;
  color: #000;
}

.adx-bg-neutral-dark {
  background: #82868b !important;
  color: #000;
}

.adx-bg-neutral-darker {
  background: #6f7377 !important;
  color: #fff;
}

.adx-bg-neutral-trans-50 {
  background: rgba(185, 192, 198, 0.5) !important;
  color: #000;
}

.adx-bg-neutral-trans-70 {
  background: rgba(185, 192, 198, 0.3) !important;
  color: #000;
}

.adx-bg-neutral-trans-80 {
  background: rgba(185, 192, 198, 0.2) !important;
  color: #000;
}

.adx-positive-lightest {
  color: #e6f2e6 !important;
}

.adx-positive-lighter {
  color: #34ff34 !important;
}

.adx-positive-light {
  color: #01ff01 !important;
}

.adx-positive {
  color: green !important;
}

.adx-positive-dark {
  color: #005a00 !important;
}

.adx-positive-darker {
  color: #004d00 !important;
}

.adx-positive-tint {
  color: #ebf5eb !important;
}

.adx-positive-trans-50 {
  color: rgba(0, 128, 0, 0.5) !important;
}

.adx-positive-trans-70 {
  color: rgba(0, 128, 0, 0.3) !important;
}

.adx-positive-trans-80 {
  color: rgba(0, 128, 0, 0.2) !important;
}

.adx-bg-positive-tint {
  background: #ebf5eb !important;
  color: #000;
}

.adx-bg-positive-lightest {
  background: #99cc99 !important;
  color: #000;
}

.adx-bg-positive-lighter {
  background: #66b366 !important;
  color: #000;
}

.adx-bg-positive-light {
  background: #339933 !important;
  color: #fff;
}

.adx-bg-positive {
  background: green !important;
  color: #fff;
}

.adx-bg-positive-dark {
  background: #005a00 !important;
  color: #fff;
}

.adx-bg-positive-darker {
  background: #004d00 !important;
  color: #fff;
}

.adx-bg-positive-trans-50 {
  background: rgba(0, 128, 0, 0.5) !important;
  color: #000;
}

.adx-bg-positive-trans-70 {
  background: rgba(0, 128, 0, 0.3) !important;
  color: #000;
}

.adx-bg-positive-trans-80 {
  background: rgba(0, 128, 0, 0.2) !important;
  color: #000;
}

.adx-negative-lightest {
  color: #ffe6e6 !important;
}

.adx-negative-lighter {
  color: #ffb3b3 !important;
}

.adx-negative-light {
  color: #ff8080 !important;
}

.adx-negative {
  color: red !important;
}

.adx-negative-dark {
  color: #b30000 !important;
}

.adx-negative-darker {
  color: #990000 !important;
}

.adx-negative-tint {
  color: #ffebeb !important;
}

.adx-negative-trans-50 {
  color: rgba(255, 0, 0, 0.5) !important;
}

.adx-negative-trans-70 {
  color: rgba(255, 0, 0, 0.3) !important;
}

.adx-negative-trans-80 {
  color: rgba(255, 0, 0, 0.2) !important;
}

.adx-bg-negative-tint {
  background: #ffebeb !important;
  color: #000;
}

.adx-bg-negative-lightest {
  background: #ff9999 !important;
  color: #000;
}

.adx-bg-negative-lighter {
  background: #ff6666 !important;
  color: #000;
}

.adx-bg-negative-light {
  background: #ff3333 !important;
  color: #fff;
}

.adx-bg-negative {
  background: red !important;
  color: #fff;
}

.adx-bg-negative-dark {
  background: #b30000 !important;
  color: #fff;
}

.adx-bg-negative-darker {
  background: #990000 !important;
  color: #fff;
}

.adx-bg-negative-trans-50 {
  background: rgba(255, 0, 0, 0.5) !important;
  color: #000;
}

.adx-bg-negative-trans-70 {
  background: rgba(255, 0, 0, 0.3) !important;
  color: #000;
}

.adx-bg-negative-trans-80 {
  background: rgba(255, 0, 0, 0.2) !important;
  color: #000;
}

.adx-warning-lightest {
  color: #ffffe6 !important;
}

.adx-warning-lighter {
  color: #ffffb3 !important;
}

.adx-warning-light {
  color: #ffff80 !important;
}

.adx-warning {
  color: yellow !important;
}

.adx-warning-dark {
  color: #b3b300 !important;
}

.adx-warning-darker {
  color: #999900 !important;
}

.adx-warning-tint {
  color: #ffffeb !important;
}

.adx-warning-trans-50 {
  color: rgba(255, 255, 0, 0.5) !important;
}

.adx-warning-trans-70 {
  color: rgba(255, 255, 0, 0.3) !important;
}

.adx-warning-trans-80 {
  color: rgba(255, 255, 0, 0.2) !important;
}

.adx-bg-warning-tint {
  background: #ffffeb !important;
  color: #000;
}

.adx-bg-warning-lightest {
  background: #ffff99 !important;
  color: #000;
}

.adx-bg-warning-lighter {
  background: #ffff66 !important;
  color: #000;
}

.adx-bg-warning-light {
  background: #ffff33 !important;
  color: #000;
}

.adx-bg-warning {
  background: yellow !important;
  color: #000;
}

.adx-bg-warning-dark {
  background: #b3b300 !important;
  color: #000;
}

.adx-bg-warning-darker {
  background: #999900 !important;
  color: #000;
}

.adx-bg-warning-trans-50 {
  background: rgba(255, 255, 0, 0.5) !important;
  color: #000;
}

.adx-bg-warning-trans-70 {
  background: rgba(255, 255, 0, 0.3) !important;
  color: #000;
}

.adx-bg-warning-trans-80 {
  background: rgba(255, 255, 0, 0.2) !important;
  color: #000;
}

.adx-information-lightest {
  color: #e6e6ff !important;
}

.adx-information-lighter {
  color: #b3b3ff !important;
}

.adx-information-light {
  color: #8080ff !important;
}

.adx-information {
  color: blue !important;
}

.adx-information-dark {
  color: #0000b3 !important;
}

.adx-information-darker {
  color: #000099 !important;
}

.adx-information-tint {
  color: #ebebff !important;
}

.adx-information-trans-50 {
  color: rgba(0, 0, 255, 0.5) !important;
}

.adx-information-trans-70 {
  color: rgba(0, 0, 255, 0.3) !important;
}

.adx-information-trans-80 {
  color: rgba(0, 0, 255, 0.2) !important;
}

.adx-bg-information-tint {
  background: #ebebff !important;
  color: #000;
}

.adx-bg-information-lightest {
  background: #9999ff !important;
  color: #000;
}

.adx-bg-information-lighter {
  background: #6666ff !important;
  color: #fff;
}

.adx-bg-information-light {
  background: #3333ff !important;
  color: #fff;
}

.adx-bg-information {
  background: blue !important;
  color: #fff;
}

.adx-bg-information-dark {
  background: #0000b3 !important;
  color: #fff;
}

.adx-bg-information-darker {
  background: #000099 !important;
  color: #fff;
}

.adx-bg-information-trans-50 {
  background: rgba(0, 0, 255, 0.5) !important;
  color: #000;
}

.adx-bg-information-trans-70 {
  background: rgba(0, 0, 255, 0.3) !important;
  color: #000;
}

.adx-bg-information-trans-80 {
  background: rgba(0, 0, 255, 0.2) !important;
  color: #000;
}

.adx-primary-lightest {
  color: #ecedf5 !important;
}

.adx-primary-lighter {
  color: #b6badf !important;
}

.adx-primary-light {
  color: #9399d0 !important;
}

.adx-primary {
  color: #454E9E !important;
}

.adx-primary-dark {
  color: #30376f !important;
}

.adx-primary-darker {
  color: #292f5f !important;
}

.adx-primary-tint {
  color: #f0f1f7 !important;
}

.adx-primary-trans-50 {
  color: rgba(69, 78, 158, 0.5) !important;
}

.adx-primary-trans-70 {
  color: rgba(69, 78, 158, 0.3) !important;
}

.adx-primary-trans-80 {
  color: rgba(69, 78, 158, 0.2) !important;
}

.adx-bg-primary-tint {
  background: #f0f1f7 !important;
  color: #000;
}

.adx-bg-primary-lightest {
  background: #b5b8d8 !important;
  color: #000;
}

.adx-bg-primary-lighter {
  background: #8f95c5 !important;
  color: #000;
}

.adx-bg-primary-light {
  background: #6a71b1 !important;
  color: #fff;
}

.adx-bg-primary {
  background: #454E9E !important;
  color: #fff;
  color: #fff;
}

.adx-bg-primary-dark {
  background: #30376f !important;
  color: #fff;
}

.adx-bg-primary-darker {
  background: #292f5f !important;
  color: #fff;
}

.adx-bg-primary-trans-50 {
  background: rgba(69, 78, 158, 0.5) !important;
  color: #000;
}

.adx-bg-primary-trans-70 {
  background: rgba(69, 78, 158, 0.3) !important;
  color: #000;
}

.adx-bg-primary-trans-80 {
  background: rgba(69, 78, 158, 0.2) !important;
  color: #000;
}

.adx-accent-lightest {
  color: #e7f2ee !important;
}

.adx-accent-lighter {
  color: #4deebb !important;
}

.adx-accent-light {
  color: #1ee9aa !important;
}

.adx-accent {
  color: #0C7C59 !important;
}

.adx-accent-dark {
  color: #08573e !important;
}

.adx-accent-darker {
  color: #074a35 !important;
}

.adx-accent-tint {
  color: #ecf5f2 !important;
}

.adx-accent-trans-50 {
  color: rgba(12, 124, 89, 0.5) !important;
}

.adx-accent-trans-70 {
  color: rgba(12, 124, 89, 0.3) !important;
}

.adx-accent-trans-80 {
  color: rgba(12, 124, 89, 0.2) !important;
}

.adx-bg-accent-tint {
  background: #ecf5f2 !important;
  color: #000;
}

.adx-bg-accent-lightest {
  background: #9ecbbd !important;
  color: #000;
}

.adx-bg-accent-lighter {
  background: #6db09b !important;
  color: #000;
}

.adx-bg-accent-light {
  background: #3d967a !important;
  color: #fff;
}

.adx-bg-accent {
  background: #0C7C59 !important;
  color: #fff;
  color: #fff;
}

.adx-bg-accent-dark {
  background: #08573e !important;
  color: #fff;
}

.adx-bg-accent-darker {
  background: #074a35 !important;
  color: #fff;
}

.adx-bg-accent-trans-50 {
  background: rgba(12, 124, 89, 0.5) !important;
  color: #000;
}

.adx-bg-accent-trans-70 {
  background: rgba(12, 124, 89, 0.3) !important;
  color: #000;
}

.adx-bg-accent-trans-80 {
  background: rgba(12, 124, 89, 0.2) !important;
  color: #000;
}

.adx-complimentary-lightest {
  color: #fef6e6 !important;
}

.adx-complimentary-lighter {
  color: #fee1a6 !important;
}

.adx-complimentary-light {
  color: #fed174 !important;
}

.adx-complimentary {
  color: #F0A202 !important;
}

.adx-complimentary-dark {
  color: #a87101 !important;
}

.adx-complimentary-darker {
  color: #906101 !important;
}

.adx-complimentary-tint {
  color: #fef8eb !important;
}

.adx-complimentary-trans-50 {
  color: rgba(240, 162, 2, 0.5) !important;
}

.adx-complimentary-trans-70 {
  color: rgba(240, 162, 2, 0.3) !important;
}

.adx-complimentary-trans-80 {
  color: rgba(240, 162, 2, 0.2) !important;
}

.adx-bg-complimentary-tint {
  background: #fef8eb !important;
  color: #000;
}

.adx-bg-complimentary-lightest {
  background: #f9da9a !important;
  color: #000;
}

.adx-bg-complimentary-lighter {
  background: #f6c767 !important;
  color: #000;
}

.adx-bg-complimentary-light {
  background: #f3b535 !important;
  color: #000;
}

.adx-bg-complimentary {
  background: #F0A202 !important;
  color: #000;
  color: #000;
}

.adx-bg-complimentary-dark {
  background: #a87101 !important;
  color: #000;
}

.adx-bg-complimentary-darker {
  background: #906101 !important;
  color: #fff;
}

.adx-bg-complimentary-trans-50 {
  background: rgba(240, 162, 2, 0.5) !important;
  color: #000;
}

.adx-bg-complimentary-trans-70 {
  background: rgba(240, 162, 2, 0.3) !important;
  color: #000;
}

.adx-bg-complimentary-trans-80 {
  background: rgba(240, 162, 2, 0.2) !important;
  color: #000;
}

/**
 * Author: Kevin Weber
 *
 * Follow me: @kevinweber (https://twitter.com/kevinweber)
 * Website: http://kevinw.de
 *
 * License: CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/)
 *
 * Code from https://codepen.io/kevinweber/pen/dXWoRw
 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Arial Black", "Open Sans", "Arial", sans-serif;
}

p, li, aside {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
  font-family: "Open Sans", "Arial", sans-serif;
  letter-spacing: -0.02rem;
}

h6 {
  font-size: 0.8rem;
  line-height: 1.4;
  margin: 1rem 0 0.64rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.3;
  margin: 1rem 0 0.64rem;
  letter-spacing: -0.02rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 1rem 0 0.64rem;
  letter-spacing: -0.02rem;
}

h3 {
  font-size: 1.953rem;
  line-height: 1.05;
  margin: 1rem 0 0.64rem;
  letter-spacing: -0.02rem;
}

h2 {
  font-size: 2.441rem;
  line-height: 1.05;
  margin: 1rem 0 0.64rem;
  letter-spacing: -0.02rem;
}

h1 {
  font-size: 3.815rem;
  line-height: 1.05;
  margin: 1rem 0 0.64rem;
  letter-spacing: -0.05rem;
}

.adx-show-xxs {
  width: 0.41rem;
  height: 0.41rem;
  background: #d40000;
  margin: 0.8rem;
}
.adx-show-xs {
  width: 0.64rem;
  height: 0.64rem;
  background: #d40000;
  margin: 0.8rem;
}
.adx-show-s {
  width: 0.8rem;
  height: 0.8rem;
  background: #d40000;
  margin: 0.8rem;
}
.adx-show-m {
  width: 1rem;
  height: 1rem;
  background: #d40000;
  margin: 0.8rem;
}
.adx-show-l {
  width: 1.25rem;
  height: 1.25rem;
  background: #d40000;
  margin: 0.8rem;
}
.adx-show-xl {
  width: 1.953rem;
  height: 1.953rem;
  background: #d40000;
  margin: 0.8rem;
}
.adx-show-xxl {
  width: 2.441rem;
  height: 2.441rem;
  background: #d40000;
  margin: 0.8rem;
}
.adx-show-xxxl {
  width: 3.815rem;
  height: 3.815rem;
  background: #d40000;
  margin: 0.8rem;
}
.adx-show-xxs:hover, .adx-show-xs:hover, .adx-show-s:hover, .adx-show-m:hover, .adx-show-l:hover, .adx-show-xl:hover, .adx-show-xxl:hover, .adx-show-xxxl:hover {
  background: #005a9c;
  transition: all 0.5s;
}

.colour-samples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.colour-block {
  min-width: 15ch;
  height: 1.25rem;
  padding: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: auto;
  grid-gap: 0.41rem;
}

.adx-cue, .adx-cue-complimentary, .adx-cue-complimentary-left, .adx-cue-complimentary-bottom, .adx-cue-complimentary-right, .adx-cue-complimentary-top, .adx-cue-accent, .adx-cue-accent-left, .adx-cue-accent-bottom, .adx-cue-accent-right, .adx-cue-accent-top, .adx-cue-primary, .adx-cue-primary-left, .adx-cue-primary-bottom, .adx-cue-primary-right, .adx-cue-primary-top, .adx-cue-information, .adx-cue-information-left, .adx-cue-information-bottom, .adx-cue-information-right, .adx-cue-information-top, .adx-cue-warning, .adx-cue-warning-left, .adx-cue-warning-bottom, .adx-cue-warning-right, .adx-cue-warning-top, .adx-cue-negative, .adx-cue-negative-left, .adx-cue-negative-bottom, .adx-cue-negative-right, .adx-cue-negative-top, .adx-cue-positive, .adx-cue-positive-left, .adx-cue-positive-bottom, .adx-cue-positive-right, .adx-cue-positive-top, .adx-cue-neutral, .adx-cue-neutral-left, .adx-cue-neutral-bottom, .adx-cue-neutral-right, .adx-cue-neutral-top, .adx-cue-brand-red, .adx-cue-brand-red-left, .adx-cue-brand-red-bottom, .adx-cue-brand-red-right, .adx-cue-brand-red-top, .adx-cue-brand-gold, .adx-cue-brand-gold-left, .adx-cue-brand-gold-bottom, .adx-cue-brand-gold-right, .adx-cue-brand-gold-top, .adx-cue-brand-lightblue, .adx-cue-brand-lightblue-left, .adx-cue-brand-lightblue-bottom, .adx-cue-brand-lightblue-right, .adx-cue-brand-lightblue-top, .adx-cue-brand-midblue, .adx-cue-brand-midblue-left, .adx-cue-brand-midblue-bottom, .adx-cue-brand-midblue-right, .adx-cue-brand-midblue-top, .adx-cue-brand-darkblue, .adx-cue-brand-darkblue-left, .adx-cue-brand-darkblue-bottom, .adx-cue-brand-darkblue-right, .adx-cue-brand-darkblue-top, .adx-cue-left, .adx-cue-bottom, .adx-cue-right, .adx-cue-top {
  background: #f8f9f9;
  border: 1px solid #B9C0C6;
  border-radius: 0.41rem;
  padding: 1rem 1.953rem;
  max-width: 75ch;
  margin: 1rem;
}
.adx-cue-top {
  border-top: 1rem solid #B9C0C6;
}
.adx-cue-right {
  border-right: 1rem solid #B9C0C6;
}
.adx-cue-bottom {
  border-bottom: 1rem solid #B9C0C6;
}
.adx-cue-left {
  border-left: 1rem solid #B9C0C6;
}

.adx-cue-brand-darkblue, .adx-cue-brand-darkblue-left, .adx-cue-brand-darkblue-bottom, .adx-cue-brand-darkblue-right, .adx-cue-brand-darkblue-top {
  background: #e7e9eb;
  border: 1px solid #102535;
}
.adx-cue-brand-darkblue-top {
  border-top: 1rem solid #102535;
}
.adx-cue-brand-darkblue-right {
  border-right: 1rem solid #102535;
}
.adx-cue-brand-darkblue-bottom {
  border-bottom: 1rem solid #102535;
}
.adx-cue-brand-darkblue-left {
  border-left: 1rem solid #102535;
}

.adx-cue-brand-midblue, .adx-cue-brand-midblue-left, .adx-cue-brand-midblue-bottom, .adx-cue-brand-midblue-right, .adx-cue-brand-midblue-top {
  background: #e6eff5;
  border: 1px solid #005a9c;
}
.adx-cue-brand-midblue-top {
  border-top: 1rem solid #005a9c;
}
.adx-cue-brand-midblue-right {
  border-right: 1rem solid #005a9c;
}
.adx-cue-brand-midblue-bottom {
  border-bottom: 1rem solid #005a9c;
}
.adx-cue-brand-midblue-left {
  border-left: 1rem solid #005a9c;
}

.adx-cue-brand-lightblue, .adx-cue-brand-lightblue-left, .adx-cue-brand-lightblue-bottom, .adx-cue-brand-lightblue-right, .adx-cue-brand-lightblue-top {
  background: #f8fcfd;
  border: 1px solid #b8dceb;
}
.adx-cue-brand-lightblue-top {
  border-top: 1rem solid #b8dceb;
}
.adx-cue-brand-lightblue-right {
  border-right: 1rem solid #b8dceb;
}
.adx-cue-brand-lightblue-bottom {
  border-bottom: 1rem solid #b8dceb;
}
.adx-cue-brand-lightblue-left {
  border-left: 1rem solid #b8dceb;
}

.adx-cue-brand-gold, .adx-cue-brand-gold-left, .adx-cue-brand-gold-bottom, .adx-cue-brand-gold-right, .adx-cue-brand-gold-top {
  background: #f7f3e6;
  border: 1px solid #b38808;
}
.adx-cue-brand-gold-top {
  border-top: 1rem solid #b38808;
}
.adx-cue-brand-gold-right {
  border-right: 1rem solid #b38808;
}
.adx-cue-brand-gold-bottom {
  border-bottom: 1rem solid #b38808;
}
.adx-cue-brand-gold-left {
  border-left: 1rem solid #b38808;
}

.adx-cue-brand-red, .adx-cue-brand-red-left, .adx-cue-brand-red-bottom, .adx-cue-brand-red-right, .adx-cue-brand-red-top {
  background: #fbe6e6;
  border: 1px solid #d40000;
}
.adx-cue-brand-red-top {
  border-top: 1rem solid #d40000;
}
.adx-cue-brand-red-right {
  border-right: 1rem solid #d40000;
}
.adx-cue-brand-red-bottom {
  border-bottom: 1rem solid #d40000;
}
.adx-cue-brand-red-left {
  border-left: 1rem solid #d40000;
}

.adx-cue-neutral, .adx-cue-neutral-left, .adx-cue-neutral-bottom, .adx-cue-neutral-right, .adx-cue-neutral-top {
  background: #f8f9f9;
  border: 1px solid #B9C0C6;
}
.adx-cue-neutral-top {
  border-top: 1rem solid #B9C0C6;
}
.adx-cue-neutral-right {
  border-right: 1rem solid #B9C0C6;
}
.adx-cue-neutral-bottom {
  border-bottom: 1rem solid #B9C0C6;
}
.adx-cue-neutral-left {
  border-left: 1rem solid #B9C0C6;
}

.adx-cue-positive, .adx-cue-positive-left, .adx-cue-positive-bottom, .adx-cue-positive-right, .adx-cue-positive-top {
  background: #e6f2e6;
  border: 1px solid green;
}
.adx-cue-positive-top {
  border-top: 1rem solid green;
}
.adx-cue-positive-right {
  border-right: 1rem solid green;
}
.adx-cue-positive-bottom {
  border-bottom: 1rem solid green;
}
.adx-cue-positive-left {
  border-left: 1rem solid green;
}

.adx-cue-negative, .adx-cue-negative-left, .adx-cue-negative-bottom, .adx-cue-negative-right, .adx-cue-negative-top {
  background: #ffe6e6;
  border: 1px solid red;
}
.adx-cue-negative-top {
  border-top: 1rem solid red;
}
.adx-cue-negative-right {
  border-right: 1rem solid red;
}
.adx-cue-negative-bottom {
  border-bottom: 1rem solid red;
}
.adx-cue-negative-left {
  border-left: 1rem solid red;
}

.adx-cue-warning, .adx-cue-warning-left, .adx-cue-warning-bottom, .adx-cue-warning-right, .adx-cue-warning-top {
  background: #ffffe6;
  border: 1px solid yellow;
}
.adx-cue-warning-top {
  border-top: 1rem solid yellow;
}
.adx-cue-warning-right {
  border-right: 1rem solid yellow;
}
.adx-cue-warning-bottom {
  border-bottom: 1rem solid yellow;
}
.adx-cue-warning-left {
  border-left: 1rem solid yellow;
}

.adx-cue-information, .adx-cue-information-left, .adx-cue-information-bottom, .adx-cue-information-right, .adx-cue-information-top {
  background: #e6e6ff;
  border: 1px solid blue;
}
.adx-cue-information-top {
  border-top: 1rem solid blue;
}
.adx-cue-information-right {
  border-right: 1rem solid blue;
}
.adx-cue-information-bottom {
  border-bottom: 1rem solid blue;
}
.adx-cue-information-left {
  border-left: 1rem solid blue;
}

.adx-cue-primary, .adx-cue-primary-left, .adx-cue-primary-bottom, .adx-cue-primary-right, .adx-cue-primary-top {
  background: #ecedf5;
  border: 0;
}
.adx-cue-primary-top {
  border-top: 1rem solid #454E9E;
}
.adx-cue-primary-right {
  border-right: 1rem solid #454E9E;
}
.adx-cue-primary-bottom {
  border-bottom: 1rem solid #454E9E;
}
.adx-cue-primary-left {
  border-left: 1rem solid #454E9E;
}

.adx-cue-accent, .adx-cue-accent-left, .adx-cue-accent-bottom, .adx-cue-accent-right, .adx-cue-accent-top {
  background: #e7f2ee;
  border: 0;
}
.adx-cue-accent-top {
  border-top: 1rem solid #0C7C59;
}
.adx-cue-accent-right {
  border-right: 1rem solid #0C7C59;
}
.adx-cue-accent-bottom {
  border-bottom: 1rem solid #0C7C59;
}
.adx-cue-accent-left {
  border-left: 1rem solid #0C7C59;
}

.adx-cue-complimentary, .adx-cue-complimentary-left, .adx-cue-complimentary-bottom, .adx-cue-complimentary-right, .adx-cue-complimentary-top {
  background: #fef6e6;
  border: 0;
}
.adx-cue-complimentary-top {
  border-top: 1rem solid #F0A202;
}
.adx-cue-complimentary-right {
  border-right: 1rem solid #F0A202;
}
.adx-cue-complimentary-bottom {
  border-bottom: 1rem solid #F0A202;
}
.adx-cue-complimentary-left {
  border-left: 1rem solid #F0A202;
}

.adx-markup-font-text {
  font-family: "Open Sans", "Arial", sans-serif;
}
.adx-markup-font-heading {
  font-family: "Arial Black", "Open Sans", "Arial", sans-serif;
}
.adx-markup-font-alternative {
  font-family: "Book Antiqua Regular", "Georgia", "Times New Roman", serif;
}
.adx-markup-size-xxs {
  font-size: 0.41rem !important;
}
.adx-markup-size-xs {
  font-size: 0.64rem !important;
}
.adx-markup-size-s {
  font-size: 0.8rem !important;
}
.adx-markup-size-m {
  font-size: 1rem !important;
}
.adx-markup-size-l {
  font-size: 1.25rem !important;
}
.adx-markup-size-xl {
  font-size: 1.953rem !important;
}
.adx-markup-size-xxl {
  font-size: 2.441rem !important;
}
.adx-markup-size-xxxl {
  font-size: 3.815rem !important;
}
.adx-markup-caps {
  text-transform: uppercase;
}
.adx-markup-label {
  font-size: 0.64rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  width: calc(100%+10vw);
  margin: 1.953rem 0 0.8rem -3vw;
  padding: 0.64rem;
  color: #82868b;
  background: #eeeff1;
  border: 1px solid #d5d9dd;
  clear: both;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
}
.adx-markup-header {
  width: 100%;
  background: #102535;
  color: #fff;
  margin: -2vh 0 1rem -5vw;
  padding: 1.25rem 5vw;
}
.adx-markup-highlight {
  background: yellow;
  padding: 0 0.41rem;
}
.adx-markup-strike {
  text-decoration: line-through;
}
.adx-markup-guide {
  font-family: "Open Sans", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding-left: 0.8rem;
}
.adx-markup-block-brand-darkblue-gradient {
  padding: 0.5em;
  background: linear-gradient(-90deg, #102535 0%, #0b1a25 80%, #0a1620 100%);
  border-radius: 0.41rem;
  color: #fff;
}
.adx-markup-block-brand-midblue-gradient {
  padding: 0.5em;
  background: linear-gradient(-90deg, #005a9c 0%, #003f6d 80%, #00365e 100%);
  border-radius: 0.41rem;
  color: #fff;
}
.adx-markup-block-brand-lightblue-gradient {
  padding: 0.5em;
  background: linear-gradient(-90deg, #b8dceb 0%, #819aa5 80%, #6e848d 100%);
  border-radius: 0.41rem;
  color: #000;
}
.adx-markup-block-brand-gold-gradient {
  padding: 0.5em;
  background: linear-gradient(-90deg, #b38808 0%, #7d5f06 80%, #6b5205 100%);
  border-radius: 0.41rem;
  color: #000;
}
.adx-markup-block-brand-red-gradient {
  padding: 0.5em;
  background: linear-gradient(-90deg, #d40000 0%, #940000 80%, #7f0000 100%);
  border-radius: 0.41rem;
  color: #fff;
}
.adx-markup-block-neutral-gradient {
  padding: 0.5em;
  background: linear-gradient(-90deg, #B9C0C6 0%, #82868b 80%, #6f7377 100%);
  border-radius: 0.41rem;
  color: #000;
}
.adx-markup-block-positive-gradient {
  padding: 0.5em;
  background: linear-gradient(-90deg, green 0%, #005a00 80%, #004d00 100%);
  border-radius: 0.41rem;
  color: #fff;
}
.adx-markup-block-negative-gradient {
  padding: 0.5em;
  background: linear-gradient(-90deg, red 0%, #b30000 80%, #990000 100%);
  border-radius: 0.41rem;
  color: #fff;
}
.adx-markup-block-warning-gradient {
  padding: 0.5em;
  background: linear-gradient(-90deg, yellow 0%, #b3b300 80%, #999900 100%);
  border-radius: 0.41rem;
  color: #000;
}
.adx-markup-block-information-gradient {
  padding: 0.5em;
  background: linear-gradient(-90deg, blue 0%, #0000b3 80%, #000099 100%);
  border-radius: 0.41rem;
  color: #fff;
}
.adx-markup-block-primary-gradient {
  padding: 0.5em;
  background: linear-gradient(-90deg, #454E9E 0%, #30376f 80%, #292f5f 100%);
  border-radius: 0.08em;
  color: #fff;
}
.adx-markup-block-accent-gradient {
  padding: 0.5em;
  background: linear-gradient(-90deg, #0C7C59 0%, #08573e 80%, #074a35 100%);
  border-radius: 0.08em;
  color: #fff;
}
.adx-markup-block-complimentary-gradient {
  padding: 0.5em;
  background: linear-gradient(-90deg, #F0A202 0%, #a87101 80%, #906101 100%);
  border-radius: 0.08em;
  color: #000;
}
.adx-markup-block-brand-darkblue {
  padding: 0.5em;
  background-color: #102535;
  border-radius: 0.41rem;
  color: #fff;
}
.adx-markup-block-brand-midblue {
  padding: 0.5em;
  background-color: #005a9c;
  border-radius: 0.41rem;
  color: #fff;
}
.adx-markup-block-brand-lightblue {
  padding: 0.5em;
  background-color: #b8dceb;
  border-radius: 0.41rem;
  color: #000;
}
.adx-markup-block-brand-gold {
  padding: 0.5em;
  background-color: #b38808;
  border-radius: 0.41rem;
  color: #000;
}
.adx-markup-block-brand-red {
  padding: 0.5em;
  background-color: #d40000;
  border-radius: 0.41rem;
  color: #fff;
}
.adx-markup-block-neutral {
  padding: 0.5em;
  background-color: #B9C0C6;
  border-radius: 0.41rem;
  color: #000;
}
.adx-markup-block-positive {
  padding: 0.5em;
  background-color: green;
  border-radius: 0.41rem;
  color: #fff;
}
.adx-markup-block-negative {
  padding: 0.5em;
  background-color: red;
  border-radius: 0.41rem;
  color: #fff;
}
.adx-markup-block-warning {
  padding: 0.5em;
  background-color: yellow;
  border-radius: 0.41rem;
  color: #000;
}
.adx-markup-block-information {
  padding: 0.5em;
  background-color: blue;
  border-radius: 0.41rem;
  color: #fff;
}
.adx-markup-block-primary {
  padding: 0.5em;
  background-color: #454E9E;
  border-radius: 0.08em;
  color: #fff;
}
.adx-markup-block-accent {
  padding: 0.5em;
  background-color: #0C7C59;
  border-radius: 0.08em;
  color: #fff;
}
.adx-markup-block-complimentary {
  padding: 0.5em;
  background-color: #F0A202;
  border-radius: 0.08em;
  color: #000;
}
.adx-markup-section, .adx-markup-section-caps {
  padding-bottom: 0.15em;
  border-bottom: 0.1em solid CurrentColor;
}
.adx-markup-section-caps {
  text-transform: uppercase;
}

code {
  background-color: #eeeff1;
  padding: 0.1rem;
  border: 1px solid #d5d9dd;
}

blockquote {
  margin: 0.8rem 1.953rem;
  font-size: 1.25rem;
  font-family: "Open Sans", "Arial", sans-serif;
  padding: 1rem;
  line-height: 1.4;
  border-width: 0 0 0 8px !important;
  border-style: solid;
  border-color: #d5d9dd;
}
blockquote cite {
  display: block;
  font-size: 0.8rem;
  font-style: italic;
  margin: 0.8rem 0 0 0;
}
blockquote cite::before {
  content: "—  ";
  margin-left: 1em;
}
blockquote.fancyquote {
  font-size: 1.953rem;
  font-family: "Book Antiqua Regular", "Georgia", "Times New Roman", serif;
  font-style: italic;
  border-width: 4px 0 !important;
  border-style: solid;
  border-color: #d5d9dd;
}
blockquote.pullquote-right {
  margin: 1rem 0 1rem 1rem;
  float: right;
  max-width: 30ch;
  background: #102535;
  color: #fff;
  border-radius: 0.41rem;
  border: 0;
}
blockquote.pullquote-right cite {
  text-align: right;
}
blockquote.pullquote-left {
  margin: 1rem 1rem 1rem 0;
  float: left;
  max-width: 30ch;
  background: #102535;
  color: #fff;
  border-radius: 0.41rem;
  border: 0;
}
blockquote.pullquote-left cite {
  text-align: right;
}

ul.block-list {
  list-style-type: none !important;
  margin: 1em 0;
  background: #f6f6fa;
  padding: 1em;
  border: 1px solid #B9C0C6;
  border-radius: 0.41rem;
  font-size: 1rem;
}
ul.block-list li {
  padding: 1em;
  border-bottom: 1px solid #B9C0C6;
  counter-increment: step-counter;
  margin-left: 1em;
  line-height: 1.4;
}
ul.block-list li p {
  padding: 0.1em 0;
}
ul.block-list li:last-child {
  border-bottom: none;
}

ol.fancy-ol {
  background: #f6f6fa;
  padding: 1em 2em !important;
  border-radius: 0.41rem;
  font-size: 1rem;
}
ol.fancy-ol.inside {
  background: none !important;
}
ol.fancy-ol li {
  padding: 0.5em 0;
  border-bottom: 1px solid #B9C0C6;
  margin: 0.8rem 0;
  margin-left: 1rem !important;
}
ol.fancy-ol li:last-child {
  border-bottom: none;
}
ol.fancy-ol li::marker {
  font-size: 1.25rem;
  color: #08513a !important;
  font-weight: bold;
  padding: 1rem;
}
ol.fancy-ol li::marker p {
  margin-left: 1rem;
}

.step-list {
  list-style-type: none !important;
  margin: 0;
  padding: 0.64rem;
  background: #eeeff1;
  border: 1px solid #d5d9dd;
  border-radius: 0.41rem;
  font-size: 1rem;
}
.step-list li {
  margin: 0.64rem 0;
  padding: 1rem;
  border-bottom: 1px solid #d5d9dd;
  counter-increment: step-counter;
}
.step-list li.step-2 {
  counter-reset: step-counter 1;
}
.step-list li.step-3 {
  counter-reset: step-counter 2;
}
.step-list li.step-4 {
  counter-reset: step-counter 3;
}
.step-list li.step-5 {
  counter-reset: step-counter 4;
}
.step-list li.step-6 {
  counter-reset: step-counter 5;
}
.step-list li.step-7 {
  counter-reset: step-counter 6;
}
.step-list li.step-8 {
  counter-reset: step-counter 7;
}
.step-list li.step-9 {
  counter-reset: step-counter 8;
}
.step-list li.step-10 {
  counter-reset: step-counter 9;
}
.step-list li.step-11 {
  counter-reset: step-counter 10;
}
.step-list li.step-12 {
  counter-reset: step-counter 11;
}
.step-list li.step-13 {
  counter-reset: step-counter 12;
}
.step-list li.step-14 {
  counter-reset: step-counter 13;
}
.step-list li.step-15 {
  counter-reset: step-counter 14;
}
.step-list li.step-16 {
  counter-reset: step-counter 15;
}
.step-list li.step-17 {
  counter-reset: step-counter 16;
}
.step-list li.step-18 {
  counter-reset: step-counter 17;
}
.step-list li:last-child {
  border-bottom: none;
}

.step-list li:before {
  content: "step " counter(step-counter);
  text-transform: uppercase;
  font-size: 0.64rem;
  background: #08513a;
  color: #fff;
  padding: 0.64rem;
  margin-right: 1.953rem;
  border-radius: 0.41rem;
}

dl {
  margin: 0.8rem 1rem;
  font-size: 1rem;
}

dt {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 1.953rem 0 0 0;
  padding: 0 0.41rem;
  color: #0C7C59;
  border-bottom: 2px solid #9ecbbd;
}

dd {
  background: #f3f8f7;
  padding: 0.8rem 0.8rem;
  border-bottom: 2px solid #9ecbbd;
  border-right: 2px solid #9ecbbd;
  border-radius: 0 0 4px 4px;
}

ul.icon-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.icon-list li {
  padding: 0.64rem;
}
ul.icon-list-sun-accent li::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='%230C7C59 ' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='5'/%3E%3Cpath d='M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4'/%3E%3C/svg%3E");
}
ul.icon-list-sun-accent li {
  padding: 0.64rem;
}
ul.icon-list-sun-complimentary li::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='%23F0A202 ' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='5'/%3E%3Cpath d='M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4'/%3E%3C/svg%3E");
}
ul.icon-list-sun-complimentary li {
  padding: 0.64rem;
}
ul.icon-list-sun-red li::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='%23d40000 ' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='5'/%3E%3Cpath d='M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4'/%3E%3C/svg%3E");
}
ul.icon-list-sun-red li {
  padding: 0.64rem;
}

aside {
  font-size: 1rem;
  float: right;
  margin: 0.64rem 1rem 0;
  padding: 0;
  background: #f9fafa;
  border-radius: 0.41rem;
  display: flex;
  flex-flow: column;
  max-width: 40%;
  min-width: 25ch;
}
aside.keypoints {
  background: #f3f8f7;
}
aside.keypoints header {
  background: #08513a;
  margin: 0 0 0.8rem 0;
  padding: 0 0.64rem;
  border-radius: 0.41rem 0.41rem 0 0;
  text-align: center;
}
aside.keypoints h3 {
  padding: 0 0.64rem;
  font-size: 1rem;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
}
aside.keypoints p {
  padding: 0 0.64rem;
  margin: 0.64rem 0;
}
aside.keypoints ul {
  margin: 0;
  padding: 0.64rem;
}
aside.keypoints ul:last-child {
  padding-bottom: 0.8rem;
}
aside.keypoints ul li {
  list-style-type: "★";
  padding-inline-start: 1ch;
  margin: 0.64rem;
}
aside.keypoints ul li::marker {
  color: #0C7C59;
}

.adx-button, .adx-button-disabled, button[disabled], .adx-button-complimentary, .adx-button-accent, .adx-button-primary, .adx-button-information, .adx-button-warning, .adx-button-negative, .adx-button-positive, .adx-button-neutral, .adx-button-brand-red, .adx-button-brand-gold, .adx-button-brand-lightblue, .adx-button-brand-midblue, .adx-button-brand-darkblue {
  border: 1px solid #82868b;
  padding: 0.64rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  background: #f9fafa;
  transition: 0.3s all;
  border-radius: 0.41rem;
  text-align: center;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.adx-button a, .adx-button-disabled a, button[disabled] a, .adx-button-complimentary a, .adx-button-accent a, .adx-button-primary a, .adx-button-information a, .adx-button-warning a, .adx-button-negative a, .adx-button-positive a, .adx-button-neutral a, .adx-button-brand-red a, .adx-button-brand-gold a, .adx-button-brand-lightblue a, .adx-button-brand-midblue a, .adx-button-brand-darkblue a {
  text-decoration: none;
}
.adx-button:hover, .adx-button-disabled:hover, button[disabled]:hover, .adx-button-complimentary:hover, .adx-button-accent:hover, .adx-button-primary:hover, .adx-button-information:hover, .adx-button-warning:hover, .adx-button-negative:hover, .adx-button-positive:hover, .adx-button-neutral:hover, .adx-button-brand-red:hover, .adx-button-brand-gold:hover, .adx-button-brand-lightblue:hover, .adx-button-brand-midblue:hover, .adx-button-brand-darkblue:hover {
  background: #82868b;
  color: #fff;
}

.adx-button-brand-darkblue {
  background: #eceeef;
  border-color: #102535;
  color: #0b1a25;
}
.adx-button-brand-darkblue:hover {
  background: #102535;
  color: #fff;
}

.adx-button-brand-midblue {
  background: #ebf2f7;
  border-color: #005a9c;
  color: #003f6d;
}
.adx-button-brand-midblue:hover {
  background: #005a9c;
  color: #fff;
}

.adx-button-brand-lightblue {
  background: #f9fcfd;
  border-color: #b8dceb;
  color: #819aa5;
}
.adx-button-brand-lightblue:hover {
  background: #b8dceb;
  color: #fff;
}

.adx-button-brand-gold {
  background: #f9f5eb;
  border-color: #b38808;
  color: #7d5f06;
}
.adx-button-brand-gold:hover {
  background: #b38808;
  color: #fff;
}

.adx-button-brand-red {
  background: #fcebeb;
  border-color: #d40000;
  color: #940000;
}
.adx-button-brand-red:hover {
  background: #d40000;
  color: #fff;
}

.adx-button-neutral {
  background: #f9fafa;
  border-color: #B9C0C6;
  color: #82868b;
}
.adx-button-neutral:hover {
  background: #B9C0C6;
  color: #fff;
}

.adx-button-positive {
  background: #ebf5eb;
  border-color: green;
  color: #005a00;
}
.adx-button-positive:hover {
  background: green;
  color: #fff;
}

.adx-button-negative {
  background: #ffebeb;
  border-color: red;
  color: #b30000;
}
.adx-button-negative:hover {
  background: red;
  color: #fff;
}

.adx-button-warning {
  background: #ffffeb;
  border-color: yellow;
  color: #b3b300;
}
.adx-button-warning:hover {
  background: yellow;
  color: #fff;
}

.adx-button-information {
  background: #ebebff;
  border-color: blue;
  color: #0000b3;
}
.adx-button-information:hover {
  background: blue;
  color: #fff;
}

.adx-button-primary {
  background: #f0f1f7;
  border-color: #454E9E;
  color: #30376f;
}
.adx-button-primary:hover {
  background: #454E9E;
  color: #fff;
}

.adx-button-accent {
  background: #ecf5f2;
  border-color: #0C7C59;
  color: #08573e;
}
.adx-button-accent:hover {
  background: #0C7C59;
  color: #fff;
}

.adx-button-complimentary {
  background: #fef8eb;
  border-color: #F0A202;
  color: #a87101;
}
.adx-button-complimentary:hover {
  background: #F0A202;
  color: #fff;
}

.adx-button-disabled, button[disabled] {
  pointer-events: none;
  color: #B9C0C6;
  border-radius: 0;
}

.adx-button-group {
  list-style: none;
  margin: 0.64rem;
  padding: 0.41rem;
  display: flex;
  justify-content: center;
}
.adx-button-group > * {
  border-radius: 0;
  padding: 0.64rem 1.25rem;
  margin: 0;
}
.adx-button-group > *:first-child {
  border-radius: 0.41rem 0 0 0.41rem;
}
.adx-button-group > *:last-child {
  border-radius: 0 0.41rem 0.41rem 0;
}
.adx-button-group > *:not(:last-child) {
  border-right: none;
}

.adx-button-stack {
  list-style: none;
  margin: 0.64rem;
  padding: 0.41rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adx-button-stack > * {
  border-radius: 0;
  padding: 0.64rem 1.25rem;
  width: 40ch;
  margin: 0;
}
.adx-button-stack > *:first-child {
  border-radius: 0.41rem 0.41rem 0 0;
}
.adx-button-stack > *:last-child {
  border-radius: 0 0 0.41rem 0.41rem;
}
.adx-button-stack > *:not(:last-child) {
  border-bottom: none;
}

hr.adx-gradient-primary {
  margin: 1.953rem 0;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, #fff, #0C7C59, #454E9E, #0C7C59, #fff);
}
hr.adx-gradient-complimentary {
  margin: 1.953rem 0;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, #fff, #0C7C59, #F0A202, #0C7C59, #fff);
}
hr.adx-gradient-accent {
  margin: 1.953rem 0;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, #fff, #F0A202, #0C7C59, #F0A202, #fff);
}

nav ul.adx-subsection {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #B9C0C6;
}
nav ul.adx-subsection a {
  text-decoration: none;
  color: #a7adb2;
  transition: 0.3 all;
}
nav ul.adx-subsection a:hover {
  color: #0C7C59;
}
nav ul.adx-subsection li {
  padding-right: 0.64rem;
  margin: 0.41rem 0;
}
nav ul.adx-subsection li:last-child a {
  color: #82868b;
}
nav ul.adx-subsection li:last-child a:hover {
  color: #0C7C59;
}
nav ul.adx-subsection li:nth-child(1):after {
  padding-left: 0.41rem;
  content: " /";
  color: #a7adb2;
}

nav.adx-sequence {
  width: 100%;
  border-bottom: 1px solid #B9C0C6;
}
nav.adx-sequence ul {
  list-style: none;
  counter-reset: step;
  display: flex;
  padding: 0;
  margin-bottom: 0;
}
nav.adx-sequence ul li {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  position: relative;
  color: #949a9e;
  text-transform: uppercase;
  font-size: 0.8rem;
}
nav.adx-sequence ul li:before {
  width: 2.441rem;
  height: 2.441rem;
  content: counter(step);
  counter-increment: step;
  align-self: center;
  background: #B9C0C6;
  color: #fff;
  border-radius: 100%;
  line-height: 2.441rem;
  margin-bottom: 0.64rem;
}
nav.adx-sequence ul li:after {
  width: 100%;
  border: 2px solid #B9C0C6;
  content: "";
  position: absolute;
  top: 1.25rem;
  left: -50%;
  z-index: -1;
}
nav.adx-sequence ul li:first-child:after {
  border: none;
}
nav.adx-sequence ul li.progress {
  color: #0C7C59;
}
nav.adx-sequence ul li.progress:before, nav.adx-sequence ul li.progress:after {
  background: #0C7C59 !important;
  border-color: #0C7C59;
}
nav.adx-sequence ul li.complete {
  color: #0C7C59;
}
nav.adx-sequence ul li.complete:before {
  content: "✔";
  color: #fff;
  background: #0C7C59 !important;
  border-color: #0C7C59;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  max-width: 75ch;
  margin: auto;
  padding: 2vh 5vw;
}
