.adx-aspect {
  
  &.wide {
    position: relative;
    padding-bottom: (9 / 16) * 100%;
  }
  
  &.square {
    position: relative;
    padding-bottom: (1 / 1) * 100%;
  }
  
  &.portrait {
    position: relative;
    padding-bottom: (4 / 3) * 100%;
  }
  
  &.landscape {
    position: relative;
    padding-bottom: (3 / 4) * 100%;
  }
  
  & img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
    &.top-center {object-position: top center;}
    &.bottom-center {object-position: bottom center;}
    &.center-center {object-position: center center;}
  
    &.left-top {object-position: left top;}
    &.left-bottom {object-position: left bottom;}
    &.left-center {object-position: left center;}

    &.right-top {object-position: right top;}
    &.right-bottom {object-position: right bottom;}
    &.right-center {object-position: right center;}

  }
}
