// BRAND
$brand-darkblue: #102535;
$brand-midblue: #005a9c;
$brand-lightblue: #b8dceb;
$brand-gold: #b38808;
$brand-red: #d40000;

// UI
$ui-rev: #fff;
$ui-blk: #000;
$ui-positive: #22964f;
$ui-negative: #d4322c;
$ui-warning: #ffa423;
$ui-information: #052A8A;
$ui-neutral: #B9C0C6;
$ui-neutral-tint: mix(white, $ui-neutral, 92%);
$ui-neutral-lightest: mix(white, $ui-neutral, 85%);
$ui-neutral-lighter: mix(white, $ui-neutral, 75%);
$ui-neutral-light:  mix(white, $ui-neutral, 40%);
$ui-neutral-dark:  mix(black, $ui-neutral, 10%);
$ui-neutral-darker: mix(black, $ui-neutral, 20%);
$ui-neutral-darkest: mix(black, $ui-neutral, 30%);
$ui-highlight-yellow: transparentize(#ffde20, .7);
$ui-highlight-green: transparentize(#20ff6e, .7);
$ui-highlight-orange: transparentize(#ff6600, .7);
$ui-highlight-pink: transparentize(#ff20b0, .7);
$ui-highlight-blue: transparentize(#2f9df5, .7);


// PROGRAM STYLE

$primary: $brand-darkblue;
$accent: #63E33B;
$complimentary: #7356C5;

$primary-tint: mix(white, $primary, 80%);
$primary-lightest: mix(white, $primary, 60%);
$primary-lighter: mix(white, $primary, 40%);
$primary-light:  mix(white, $primary, 20%);
$primary-dark:  mix(black, $primary, 20%);
$primary-darker:  mix(black, $primary, 40%);
$primary-tint:  mix(white, $primary, 95%);
$primary-trans-50: transparentize($primary, .5);
$primary-trans-70: transparentize($primary, .7);
$primary-trans-80: transparentize($primary, .8);

$accent-tint: mix(white, $accent, 80%);
$accent-lightest: mix(white, $accent, 60%);
$accent-lighter: lighten($accent, 15%);
$accent-light:  lighten($accent, 10%);
$accent-dark:  mix(black, $accent, 25%);
$accent-darker:  mix(black, $accent, 35%);
$accent-tint:  mix(white, $accent, 95%);
$accent-trans-50: transparentize($accent, .5);
$accent-trans-70: transparentize($accent, .7);
$accent-trans-80: transparentize($accent, .8);

$complimentary-tint: mix(white, $complimentary, 80%);
$complimentary-lightest: mix(white, $complimentary, 60%);
$complimentary-lighter: lighten($complimentary, 15%);
$complimentary-light:  lighten($complimentary, 10%);
$complimentary-dark:  mix(black, $complimentary, 25%);
$complimentary-darker:  mix(black, $complimentary, 35%);
$complimentary-tint:  mix(white, $complimentary, 95%);
$complimentary-trans-50: transparentize($complimentary, .5);
$complimentary-trans-70: transparentize($complimentary, .7);
$complimentary-trans-80: transparentize($complimentary, .8);


// VISUALISATION - 

$ld-1: #4cc9f0;
$ld-2: #fa6769;
$ld-3: #f8961e;
$ld-4: #f9c74f;
$ld-5: #90be6d;
$ld-6: #43aa8b;
$ld-7: #c373f9;


// Categories - used http://colorizer.org/ and $brand-gold & $brand-red as base for these

$vis-cat1: #064FBB; 
$vis-cat2: #3706BB; 
$vis-cat3: #9106BB; 
$vis-cat4: #BB068B; 
$vis-cat5: #BB3706; 
$vis-cat6: #BB9106; 
$vis-cat7: #96BB06; 
$vis-cat8: #3EBB06; 
$vis-cat9: #058869; 
$vis-cat10: #046E8B; 
$vis-cat11: #052A8A; 

// Viridis used the 9 colours from https://vega.github.io/vega/docs/schemes/

$vis-vir-start: #bcdf27;
$vis-vir-mid: #21918d;
$vis-vir-end: #482575;
$vis-vir-s1: mix($vis-vir-start, $vis-vir-mid, 75%);
$vis-vir-s2: mix($vis-vir-start, $vis-vir-mid, 50%);
$vis-vir-s3: mix($vis-vir-start, $vis-vir-mid, 25%); 
$vis-vir-m1: mix($vis-vir-end, $vis-vir-mid, 25%);
$vis-vir-m2: mix($vis-vir-end, $vis-vir-mid, 50%);
$vis-vir-m3: mix($vis-vir-end, $vis-vir-mid, 75%); 


// Magma used the 9 colours from https://vega.github.io/vega/docs/schemes/

$vis-mag-start: #fece91;
$vis-mag-mid: #b6377a;
$vis-mag-end: #150e37;
$vis-mag-s1: mix($vis-mag-start, $vis-mag-mid, 75%);
$vis-mag-s2: mix($vis-mag-start, $vis-mag-mid, 50%);
$vis-mag-s3: mix($vis-mag-start, $vis-mag-mid, 25%); 
$vis-mag-m1: mix($vis-mag-end, $vis-mag-mid, 25%);
$vis-mag-m2: mix($vis-mag-end, $vis-mag-mid, 50%);
$vis-mag-m3: mix($vis-mag-end, $vis-mag-mid, 75%); 

// Turbo used the 9 colours from https://vega.github.io/vega/docs/schemes/

$vis-turbo-start: #ba2208;
$vis-turbo-s1: #f65f18;
$vis-turbo-s2: #ffa423;
$vis-turbo-s3: #dedd32;
$vis-turbo-mid: #95fb51;
$vis-turbo-m1: #4df884;
$vis-turbo-m2: #27d7c4;
$vis-turbo-m3: #2f9df5;
$vis-turbo-end: #4a58dd;

// Diverging

// Blue-Red used the 9 colours from https://vega.github.io/vega/docs/schemes/

$vis-rb-start: #bf363a;
$vis-rb-mid: #f2efee; 
$vis-rb-end: #2f78b3;
$vis-rb-s1: mix($vis-rb-start, $vis-rb-mid, 75%);
$vis-rb-s2: mix($vis-rb-start, $vis-rb-mid, 50%);
$vis-rb-s3: mix($vis-rb-start, $vis-rb-mid, 25%); 
$vis-rb-m1: mix($vis-rb-end, $vis-rb-mid, 25%);
$vis-rb-m2: mix($vis-rb-end, $vis-rb-mid, 50%);
$vis-rb-m3: mix($vis-rb-end, $vis-rb-mid, 75%); 

// Red-Yellow-Green used the 9 colours from https://vega.github.io/vega/docs/schemes/

$vis-ryg-start: #d4322c;
$vis-ryg-mid: #f9f7ae; 
$vis-ryg-end: #22964f;
$vis-ryg-s1: mix($vis-ryg-start, $vis-ryg-mid, 75%);
$vis-ryg-s2: mix($vis-ryg-start, $vis-ryg-mid, 50%);
$vis-ryg-s3: mix($vis-ryg-start, $vis-ryg-mid, 25%); 
$vis-ryg-m1: mix($vis-ryg-end, $vis-ryg-mid, 25%);
$vis-ryg-m2: mix($vis-ryg-end, $vis-ryg-mid, 50%);
$vis-ryg-m3: mix($vis-ryg-end, $vis-ryg-mid, 75%); 

// Earth 
$vis-earth-start: #A16928;
$vis-earth-mid: #edeac2; 
$vis-earth-end: #2887a1;
$vis-earth-s1: mix($vis-earth-start, $vis-earth-mid, 75%);
$vis-earth-s2: mix($vis-earth-start, $vis-earth-mid, 50%);
$vis-earth-s3: mix($vis-earth-start, $vis-earth-mid, 25%); 
$vis-earth-m1: mix($vis-earth-end, $vis-earth-mid, 25%);
$vis-earth-m2: mix($vis-earth-end, $vis-earth-mid, 50%);
$vis-earth-m3: mix($vis-earth-end, $vis-earth-mid, 75%); 


// Brand
$vis-brand-start: #b8dceb;
$vis-brand-mid: #005a9c;
$vis-brand-end: #102535;
$vis-brand-s1: mix($vis-brand-start, $vis-brand-mid, 75%);
$vis-brand-s2: mix($vis-brand-start, $vis-brand-mid, 50%);
$vis-brand-s3: mix($vis-brand-start, $vis-brand-mid, 25%); 
$vis-brand-m1: mix($vis-brand-end, $vis-brand-mid, 25%);
$vis-brand-m2: mix($vis-brand-end, $vis-brand-mid, 50%);
$vis-brand-m3: mix($vis-brand-end, $vis-brand-mid, 75%); 
