$brand-colors: (
  brand-darkblue: $brand-darkblue,
  brand-midblue: $brand-midblue,
  brand-lightblue: $brand-lightblue, 
  brand-gold: $brand-gold,
  brand-red: $brand-red,
);

@each $color, $value in $brand-colors {
  .adx-#{$color}-lightest {color: mix(white, $value, 90%) !important;}
  .adx-#{$color}-lighter {color: lighten($value, 35%) !important;}
  .adx-#{$color}-light {color: lighten($value, 25%) !important;}
  .adx-#{$color} {color: $value !important;}
  .adx-#{$color}-dark {color: mix(black, $value, 30%) !important;}
  .adx-#{$color}-darker {color: mix(black, $value, 40%) !important;}
  .adx-#{$color}-tint {color: mix(white, $value, 92%) !important;}
  .adx-#{$color}-trans-50 {color: transparentize($value, .5) !important;}
  .adx-#{$color}-trans-70 {color: transparentize($value, .7) !important;}
  .adx-#{$color}-trans-80 {color: transparentize($value, .8) !important;}
}

@each $color, $value in $brand-colors {
  .adx-bg-#{$color}-tint {background: mix(white, $value, 80%) !important; color: $ui-blk;}
  .adx-bg-#{$color}-lightest {background: mix(white, $value, 60%) !important; color: $ui-blk;}
  .adx-bg-#{$color}-lighter {background: mix(white, $value, 40%) !important; color: $ui-blk;}
  .adx-bg-#{$color}-light {background: mix(white, $value, 20%) !important;}
  .adx-bg-#{$color} {background: $value !important; color: $ui-rev;}
  .adx-bg-#{$color}-dark {background: mix(black, $value, 20%) !important; color: $ui-rev;}
  .adx-bg-#{$color}-darker {background: mix(black, $value, 40%) !important; color: $ui-rev;}
  .adx-bg-#{$color}-trans-50 {background: transparentize($value, .5) !important;}
  .adx-bg-#{$color}-trans-70 {background: transparentize($value, .7) !important;}
  .adx-bg-#{$color}-trans-80 {background: transparentize($value, .8) !important;}
}

$program-colors: (
  primary: $primary,
  accent: $accent,
  complimentary: $complimentary,
  neutral: $ui-neutral,
  positive: $ui-positive, 
  negative: $ui-negative,
  warning: $ui-warning, 
  information: $ui-information,
);

@each $color, $value in $program-colors {
  .adx-bg-#{$color}-tint {background: mix(white, $value, 80%) !important; color: $ui-blk;}
  .adx-bg-#{$color}-lightest {background: mix(white, $value, 60%) !important; color: $ui-blk;}
  .adx-bg-#{$color}-lighter {background: mix(white, $value, 40%) !important; color: $ui-blk;}
  .adx-bg-#{$color}-light {background: mix(white, $value, 20%) !important; color: $ui-blk;}
  .adx-bg-#{$color} {background: $value !important; color: $ui-rev}
  .adx-bg-#{$color}-dark {background: mix(black, $value, 20%) !important; color: $ui-rev;}
  .adx-bg-#{$color}-darker {background: mix(black, $value, 40%) !important; color: $ui-rev;}
  .adx-bg-#{$color}-trans-50 {background: transparentize($value, .5) !important;}
  .adx-bg-#{$color}-trans-70 {background: transparentize($value, .7) !important;}
  .adx-bg-#{$color}-trans-80 {background: transparentize($value, .8) !important;}
}
