$xxxs: .402rem;
$xxs: .579rem;
$xs: .694rem;
$s: .833rem;
$m: 1rem;
$l: 1.44rem;
$xl: 1.728rem;
$xxl: 2.074rem;
$xxxl: 2.986rem;

// Full Minor Thirds Scale
// 2.986rem/47.78px
// 2.488rem/39.81px
// 2.074rem/33.18px
// 1.728rem/27.65px
// 1.44rem/23.04px
// 1.2rem/19.20px
// 1rem/16.00px
// 0.833rem/13.33px
// 0.694rem/11.11px
// 0.579rem/9.26p



// $xxs: .41rem;
// $xs: .64rem;
// $s: .8rem;
// $m: 1rem;
// $l: 1.25rem;
// $xl: 1.953rem;
// $xxl: 2.441rem;
// $xxxl: 3.815rem;

// Based on 1.25 Major Third Scale
// 3.815em (61.04px)
// 3.052em (48.83px)
// 2.441em (39.06px)
// 1.953em (31.25px)
// 1.563em (25.00px)
// 1.25em (20.00px)
// 1em (16.00px)
// 0.8em (12.80px)
// 0.64em (10.24px)
// 0.512em (8.19px)
// 0.41em (6.55px)
// 0.328em (5.24px)
// 0.262em (4.19px)
