$xxs: .41rem;
$xs: .64rem;
$s: .8rem;
$m: 1rem;
$l: 1.25rem;
$xl: 1.953rem;
$xxl: 2.441rem;
$xxxl: 3.815rem;

// Based on 1.25 Major Third Scale
// 3.815em (61.04px)
// 3.052em (48.83px)
// 2.441em (39.06px)
// 1.953em (31.25px)
// 1.563em (25.00px)
// 1.25em (20.00px)
// 1em (16.00px)
// 0.8em (12.80px)
// 0.64em (10.24px)
// 0.512em (8.19px)
// 0.41em (6.55px)
// 0.328em (5.24px)
// 0.262em (4.19px)
