/* Error: $number: 210270calc((blue($n) * 114) / 1000) is not a number.
 *   ,
 * 2 |   $color-brightness: round((red($n) * 299) + (green($n) * 587) + calc((blue($n) * 114) / 1000));
 *   |                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src/sass/tokens/_colour-build.scss 2:22   text-contrast()
 *   src/sass/tokens/_colour-build.scss 35:75  @import
 *   src/sass/style.scss 12:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $number: 210270calc((blue($n) * 114) / 1000) is not a number.\a   \2577 \a 2 \2502    $color-brightness: round((red($n) * 299) + (green($n) * 587) + calc((blue($n) * 114) / 1000));\a   \2502                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src/sass/tokens/_colour-build.scss 2:22   text-contrast()\a   src/sass/tokens/_colour-build.scss 35:75  @import\a   src/sass/style.scss 12:9                  root stylesheet";
}
