---

---


<div class="icon-grid">
  <div class="{{ class }} awesome">
    <i class="fas fa-graduation-cap"></i>
    <h6 class="icon-text">Graduate attributes are really cool</h6>
  </div>
  <div class="{{ class }} awesome">
    <i class="fas fa-globe-stand"></i>
    <h6 class="icon-text">Gloabl university 111 ranked</h6>
  </div>
  <div class="{{ class }} number">
    <span class="i-num"><h1>12</h1></span>
    <h6 class="icon-text">The number of weeks the course goes for</h6>
  </div>
  <div class="{{ class }} awesome">
    <i class="fas fa-book"></i>
    <h6 class="icon-text">Alot of reading will be done</h6>
  </div>
</div>

 