---
layout: page.njk
title: Colour Palette
tags: pages
palette:
  brand: [brand-red, brand-midblue, brand-darkblue, brand-gold]
  ui: [neutral, positive, negative, warning, information, blk, rev]
  program: [primary, accent, complimentary]
  learning-design: [ld1, ld2, ld3, ld4, ld5, ld6, ld7,]
  categories: [vis-cat1, vis-cat2, vis-cat3, vis-cat4, vis-cat5, vis-cat6, vis-cat7, vis-cat8, vis-cat9, vis-cat10, vis-cat11]
  visualisation: [vir, mag, turbo, rb, ryg, earth, ]
---




<h4 class="adx-markup-label">Learning Design Colours</h4>

<div class="colour-samples grid-4" style="width:70vw;">
  {% for colour in palette.learning-design %}



  <div class="colour-items">
    <div class="colour-block adx-bg-{{ colour }}-tint">tint</div>
    <div class="colour-block adx-bg-{{ colour }}-lightest">lightest</div>
    <div class="colour-block adx-bg-{{ colour }}-lighter">lighter</div>
    <div class="colour-block adx-bg-{{ colour }}-light">light</div>
    <div class="colour-block-xl adx-bg-{{ colour }} adx-markup-section-caps adx-markup-font-heading">{{ colour }}</div>
    <div class="colour-block adx-bg-{{ colour }}-dark">dark</div>
    <div class="colour-block adx-bg-{{ colour }}-darker">darker</div>
    <div class="colour-block adx-bg-{{ colour }}-darkest">darkest</div>
    <!-- <div class="colour-block adx-bg-{{ colour }}-trans-50">Transparent 50</div>
    <div class="colour-block adx-bg-{{ colour }}-trans-70">Transparent 70</div>
    <div class="colour-block adx-bg-{{ colour }}-trans-80">Transparent 80</div> -->
  </div>
  {% endfor %}
</div>

<h4 class="adx-markup-label">Brand Colours</h4>

<div class="colour-samples grid-4">
  {% for colour in palette.brand %}
  <div class="colour-items">
    <div class="colour-block adx-bg-{{ colour }}-tint">tint</div>
    <div class="colour-block adx-bg-{{ colour }}-lightest">lightest</div>
    <div class="colour-block adx-bg-{{ colour }}-lighter">lighter</div>
    <div class="colour-block adx-bg-{{ colour }}-light">light</div>
    <div class="colour-block adx-bg-{{ colour }} adx-markup-section-caps adx-markup-font-heading">{{ colour }}</div>
    <div class="colour-block adx-bg-{{ colour }}-dark">dark</div>
    <div class="colour-block adx-bg-{{ colour }}-darker">darker</div>
    <div class="colour-block adx-bg-{{ colour }}-darkest">darkest</div>
    <div class="colour-block adx-bg-{{ colour }}-trans-50">Transparent 50</div>
    <div class="colour-block adx-bg-{{ colour }}-trans-70">Transparent 70</div>
    <div class="colour-block adx-bg-{{ colour }}-trans-80">Transparent 80</div>
  </div>
  {% endfor %}
</div>

<h4 class="adx-markup-label">Program Colours</h4>

<p>Program colours can be adjust to suit each program. </p>
<div class="colour-samples grid-4">
  {% for colour in palette.program %}
  <div class="colour-items">
    <div class="colour-block adx-bg-{{ colour }}-tint">tint</div>
    <div class="colour-block adx-bg-{{ colour }}-lightest">lightest</div>
    <div class="colour-block adx-bg-{{ colour }}-lighter">lighter</div>
    <div class="colour-block adx-bg-{{ colour }}-light">light</div>
    <div class="colour-block adx-bg-{{ colour }} adx-markup-section-caps adx-markup-font-heading">{{ colour }}</div>
    <div class="colour-block adx-bg-{{ colour }}-dark">dark</div>
    <div class="colour-block adx-bg-{{ colour }}-darker">darker</div>
    <div class="colour-block adx-bg-{{ colour }}-darkest">darkest</div>
    <div class="colour-block adx-bg-{{ colour }}-trans-50">Transparent 50</div>
    <div class="colour-block adx-bg-{{ colour }}-trans-70">Transparent 70</div>
    <div class="colour-block adx-bg-{{ colour }}-trans-80">Transparent 80</div>
  </div>
  {% endfor %}
</div>

<h4 class="adx-markup-label">UI Colours</h4>

<div class="colour-samples grid-4">
  {% for colour in palette.ui %}
  <div class="colour-items">
    <div class="colour-block adx-bg-{{ colour }}-tint">tint</div>
    <div class="colour-block adx-bg-{{ colour }}-lightest">lightest</div>
    <div class="colour-block adx-bg-{{ colour }}-lighter">lighter</div>
    <div class="colour-block adx-bg-{{ colour }}-light">light</div>
    <div class="colour-block adx-bg-{{ colour }} adx-markup-section-caps adx-markup-font-heading">{{ colour }}</div>
    <div class="colour-block adx-bg-{{ colour }}-dark">dark</div>
    <div class="colour-block adx-bg-{{ colour }}-darker">darker</div>
    <div class="colour-block adx-bg-{{ colour }}-darkest">darkest</div>
    <div class="colour-block adx-bg-{{ colour }}-trans-50">Transparent 50</div>
    <div class="colour-block adx-bg-{{ colour }}-trans-70">Transparent 70</div>
    <div class="colour-block adx-bg-{{ colour }}-trans-80">Transparent 80</div>
  </div>
  {% endfor %}
</div>

<h4 class="adx-markup-label">Category Colours</h4>

<div class="colour-samples grid-4">
  {% for colour in palette.categories %}
  <div class="colour-items">
    <div class="colour-block adx-bg-{{ colour }}-tint">tint</div>
    <div class="colour-block adx-bg-{{ colour }}-lightest">lightest</div>
    <div class="colour-block adx-bg-{{ colour }}-lighter">lighter</div>
    <div class="colour-block adx-bg-{{ colour }}-light">light</div>
    <div class="colour-block adx-bg-{{ colour }} adx-markup-section-caps adx-markup-font-heading">{{ colour }}</div>
    <div class="colour-block adx-bg-{{ colour }}-dark">dark</div>
    <div class="colour-block adx-bg-{{ colour }}-darker">darker</div>
    <div class="colour-block adx-bg-{{ colour }}-trans-50">Transparent 50</div>
    <div class="colour-block adx-bg-{{ colour }}-trans-70">Transparent 70</div>
    <div class="colour-block adx-bg-{{ colour }}-trans-80">Transparent 80</div>
  </div>
  {% endfor %}
</div>

<h4 class="adx-markup-label">Visualisation Samples</h4>

<div class="colour-samples grid-4">
{% for colour in palette.visualisation %}
<div class="colour-items">
  <div class="colour-block adx-bg-vis-{{ colour }}-start">{{ colour }}-start</div>
  <div class="colour-block adx-bg-vis-{{ colour }}-s1">{{ colour }}-s1</div>
  <div class="colour-block adx-bg-vis-{{ colour }}-s2">{{ colour }}-s2</div>
  <div class="colour-block adx-bg-vis-{{ colour }}-s3">{{ colour }}-s3</div>
  <div class="colour-block adx-bg-vis-{{ colour }}-mid">{{ colour }}-mid</div>
  <div class="colour-block adx-bg-vis-{{ colour }}-m1">{{ colour }}-m1</div>
  <div class="colour-block adx-bg-vis-{{ colour }}-m2">{{ colour }}-m2</div>
  <div class="colour-block adx-bg-vis-{{ colour }}-m3">{{ colour }}-m3 </div>
  <div class="colour-block adx-bg-vis-{{ colour }}-end">{{ colour }}-end</div>
</div>
{% endfor %}
</div>


