/* Error: Undefined variable.
 *    ,
 * 45 |     background: mix(white, $ld-1-dark, 90%);
 *    |                            ^^^^^^^^^^
 *    '
 *   src\sass\modules\_direction.scss 45:28  @import
 *   src\sass\theme.scss 25:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 45 \2502      background: mix(white, $ld-1-dark, 90%);\d\a    \2502                             ^^^^^^^^^^\a    \2575 \a   src\\sass\\modules\\_direction.scss 45:28  @import\a   src\\sass\\theme.scss 25:9                root stylesheet";
}
