---

---

<h4 class="adx-markup-label">Base Direction</h4>


<div class="adx-direction">
  <h5>This is a Direction Box</h5>
  <p>Directions are used to <em>direct</em> students to take action or do something external to the current
    content flow inside the LMS.</p>
</div>

{% highlight html %}
<div class="adx-direction">
  <h5>This is a Direction Box</h5>
  <p>Directions are used to <em>direct</em> students to take action or do something external to the current
    content flow inside the LMS.</p>
</div>
{% endhighlight %}

<h4 class="adx-markup-label">Programme Directions</h4>
<p>These are used to highlight activities or information specific to each programme for the shared courses in OUA.</p>

<div class="adx-direction-hsm">
  <h5>This is an HSM Direction</h5>
  <p>Use the <code>adx-direction-hsm</code> class to define information on the page about this programme.</p>
</div>

<div class="adx-direction-ib">
  <h5>This is an IB Direction</h5>
  <p>Use the <code>adx-direction-ib</code> class to define information on the page about this programme.</p>
</div>


<h4 class="adx-markup-label">Direction variants</h4>


<p>Use the following direction boxes to markup specific directions for students. These are callouts to complete specific tasks external to the page and flow of the lesson. </p>

<div class="adx-direction-assessment">
  <h5>This is an Assessment Direction</h5>
  <p>Use the <code>adx-direction-assessment</code> class to define information on the page about assessment tasks. This would specifically include directions to complete the task itself, or elements of the task.</p>
</div>

<div class="adx-direction-discussion">
  <h5>This is a Discussion Direction</h5>
  <p>Use the <code>adx-direction-discussion</code> class to alert students to tasks that relate to discussions. This maybe located on another page - but if context information is suitable, i.e. the information in this lesson is the logical point to carry out and contribute to the discussion, then use this direction.</p>
</div>

<div class="adx-direction-extra">
  <h5>This is an Extra Direction</h5>
  <p>Use the <code>adx-direction-extra</code> class to alert students to extra tasks. These are not required but could be seen as extensions beyond the content and activities required in this course. This may be useful for "parking" concepts and ideas that students aren't required to complete but may be useful in the longer term. </p>
</div>

<div class="adx-direction-interactive">
  <h5>This is an Interactive Direction</h5>
  <p>Use the <code>adx-direction-interactive</code> class to alert students to interactive activities and ways to engage with other students. Can be used for synchronous sessions on Zoom or on other tools.</p>
</div>

<div class="adx-direction-investigate">
  <h5>This is an Investigate Direction</h5>
  <p>Use the <code>adx-direction-investigate</code> class to alert students to tasks that ask them to investigate, search and find information. Useful for research tasks like accessing databases, papers or articles.</p>
</div>

<div class="adx-direction-practice">
  <h5>This is a Practice Direction</h5>
  <p>Use the <code>adx-direction-practice</code> class to alert students to activities where they practice skills, tasks and processes.</p>
</div>

<div class="adx-direction-reading">
  <h5>This is a Reading Direction</h5>
  <p>Use the <code>adx-direction-reading</code> class to alert students to reading tasks. This could include reading texts, articles and papers.</p>
</div>

<div class="adx-direction-reflect">
  <h5>This is a Reflect Direction</h5>
  <p>Use the <code>adx-direction-reflect</code> class to alert students to reflection tasks. </p>
</div>

<div class="adx-direction-watch">
  <h5>This is a Watch Direction</h5>
  <p>Use the <code>adx-direction-watch</code> class to alert students to videos or presentations they need to watch. This can be used for any video that can't be embedded or if the video is not required viewing, but part of an extension task.</p>
</div>

<div class="adx-direction-write">
  <h5>This is a Write Direction</h5>
  <p>Use the <code>adx-direction-write</code> class to alert students to writing tasks. </p>
</div>