aside.adx {
  font-size: $m;
  float: right;
  margin:0 $m $s;
  padding: 0;
  background: $primary-tint;
  border-radius: 0;
  display: flex;
  flex-flow: column;
  max-width: 40%;
  min-width: 25ch;
  padding: $xxs;
  
  &::after {
    content: "";
    display: block; 
    clear: both;
  }
  
  & > * {
    margin: 0;
  }
  
  ul li {
    margin: $xxs 0;
  }
  
  
  &.left {
    float: left;
  }
  
  &.keypoints {
    background: $primary-tint;
    padding: 0;
    
    & header {
      background: $primary-darker;
      margin: 0 0 $s 0;
      padding: 0 $xs;
      text-align: center;
    }
    h3 {
      padding: 0 $xs;
      font-size: $m;
      width: 100%;
      text-transform: uppercase;
      color: $ui-rev;
    }
    
    p {
      padding: 0 $xs;
      margin: 0;
    }
    
   ul {
       margin: 0 $xs;
       padding: $xs;
       
    &:last-child {
      padding-bottom: $s;
    }
     
    li {
     list-style-type: '\2605';
     padding-inline-start: 1ch;
     margin: $xs;
     
     &::marker {
        color: $accent-dark;
    }
  }
  }
}
}
