.adx-button {  
  border: 2px solid $ui-neutral-darkest;
  padding: $xs;
  font-size: $s;
  text-transform: uppercase;  
  background: $ui-neutral-tint;
  transition: .3s all;
  text-align: center;
  letter-spacing: .1rem;
  cursor: pointer;
  // margin: $xxxs;
  
  & a {
    text-decoration: none;
  }
  
  &:hover {
    background: $ui-neutral-darkest;
    color: $ui-rev;
  }
}
