.adx-button {
  border: 1px solid $ui-neutral-darkest;
  padding: $xs;
  font-size: $s;
  text-transform: uppercase;  
  background: $ui-neutral-tint;
  transition: .3s all;
  border-radius: $xxs;
  text-align: center;
  letter-spacing: .1rem;
  cursor: pointer;
  
  a {
    text-decoration: none;
  }
  
  
  &:hover {
    background: $ui-neutral-darkest;
    color: $ui-rev;
  }
}
  
@each $color, $value in $brand-colors{
        .adx-button-#{$color} {
          @extend .adx-button;
          background: mix(white, $value, 92%);
          border-color: $value;
          color: mix(black, $value, 30%);
          
          &:hover {
            background: $value ;
            color: $ui-rev;
          }
        }
}
  
@each $color, $value in $program-colors{
      .adx-button-#{$color} {
        @extend .adx-button;
        background: mix(white, $value, 92%);
        border-color: $value;
        color: mix(black, $value, 30%);
        
        &:hover {
          background: $value;
          color: $ui-rev;
        }
      }
}

.adx-button-group {
  list-style: none;
  margin: $xs;
  padding: $xxs;
  display: flex;
  justify-content: center;
  
  & > * {
  border-radius: 0;
  padding: $xs $l;
  
  &:first-child {
    border-radius: $xxs 0 0 $xxs;
  }
  &:last-child {
    border-radius: 0 $xxs $xxs 0;
  }
  &:not(:last-child){
    border-right: none;
    }
  }
}
