// CIDILabs overrides collection

/*

  Each of these items affects MyUni/CIDILabs components that are native to the platform and aren't custom-written HTML layouts like the components in the style guide.
  These are to _override_ styles inherent in MyUni

*/

.adx {

  // quick check changes

  .kl_quick_check {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    margin: 2.074rem auto;
    border: 1px solid #d5d9dd !important;
    border-top: solid 2.074rem #102535 !important;
    border-radius: 0.402rem;
    color: #82868b;
    overflow: hidden;
    margin: 10px 0;
    padding: 20px;
  }

  .kl_quick_check h3 {
    color: #102535;
    background: none;
  }

  .kl_quick_check .kl_quick_check_field {
    margin: 3px 10px 30px 0;
    float: left;
  }

  .kl_quick_check .kl_quick_check_answer_wrapper {
    clear: both;
    position: relative;
  }


  // table updates inside a .kl_wrapper

  table td {
    text-align: left;
    border: 1px solid #B9C0C6;
  }

  .table {
    font-size: 1rem;
    min-width: 80%;
    max-width: 100%;
    margin: 1.44rem 0;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 0;

  }

  table tr {
    background: #f9fafa;
  }

  thead tr {
    border-bottom: 3px solid #B9C0C6;
  }

  // default accordions

  .ui-state-default,
  .ui-widget-header .ui-state-default {
    border: 1px solid #ccc;
    color: #333;
    font-weight: normal;
    background-image: linear-gradient(to bottom, white, #e6e6e6);
    border-bottom-color: #bbb;
  }

  .kl_panels_wrapper.ui-accordion .ui-accordion-content p {
    margin: 0;
  }

  .kl_panels_wrapper .ui-accordion-header,
  .kl_wrapper .ui-accordion-header {
    background: white;
    border-radius: 0;
    font-size: 1em !important;
    /* needs to override nests of styles applied by CIDILabs */
  }

  .kl_custom_accordion.ui-accordion .ui-accordion-header,
  .kl_panels_accordion.ui-accordion .ui-accordion-header,
  .kl_panels_expander.ui-accordion .ui-accordion-header,
  .kl_custom_accordion.ui-accordion .ui-accordion-header,
  .kl_panels_accordion.ui-accordion .ui-accordion-header,
  .kl_panels_expander.ui-accordion .ui-accordion-header {
    padding: 0;
    margin: 5px 0 2px;
    font-weight: 700;
    font-size: 1.3em;

  }

  .kl_custom_accordion.ui-accordion .ui-accordion-header a,
  .kl_panels_accordion.ui-accordion .ui-accordion-header a,
  .kl_panels_expander.ui-accordion .ui-accordion-header a,
  .kl_custom_accordion.ui-accordion .ui-accordion-header a,
  .kl_panels_accordion.ui-accordion .ui-accordion-header a,
  .kl_panels_expander.ui-accordion .ui-accordion-header a {
    padding: 10px;
    padding-left: 30px;
    text-decoration: none !important;
  }

  .kl_panel_heading a {
    color: #000;
  }

  // override for active header

  .ui-accordion-header-active a {
    color: white !important;
  }

  .kl_panel_heading .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-image: url("https://du11hjcvx0uqb.cloudfront.net/dist/images/jqueryui/ui-icons_222222_256x240-a2c05c5e96.png");
    margin-left: 0.5em;
    top: 0%;
    margin-top: 10px;
    float: left;
  }

  .kl_panel_heading .ui-icon-triangle-1-e {
    background-position: -32px -16px;
  }

  .ui-accordion .ui-accordion-header a {
    display: block;
    font-size: 1em;
    padding: .5em .5em .5em .7em;
  }

  // Nav quick links

  #kl_navigation ul>li {
    border: 1px solid #d5d9dd;
    padding: 1em;
    border-radius: 0.5ch 0.5ch 0 0;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    border-top: 30px solid #d5d9dd;
    font-weight: 700;
    font-family: 'made_evolve_sans_bold', Arial, sans-serif;
  }

  #kl_navigation ul {
    list-style: none;
    min-width: 70%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
    grid-gap: 1ch;
    grid-auto-flow: dense;
    overflow: hidden;
    padding: 1ch;
  }

  #kl_navigation a {
    color: inherit;
    text-decoration: none;
  }

  #kl_navigation ul>li:hover {
    background: inherit;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    transform: scale(1.025);
  }
}


// override the h3

.adx h3 {
  padding: 0.5em;
  background-color: #102535;
  border-radius: 0.08em;
  color: #fff;
}

.adx h3 i {
  margin-right: 1em;
}