.adx-cue {
  background: mix(white, $ui-neutral, 90%);
  // border: 1px solid $ui-neutral;
  padding: $m $xl;
  max-width: $element-width;
  margin: $m auto;

  &-top {
    @extend .adx-cue;
    border-top: $m solid $ui-neutral;
  }
  &-right {
    @extend .adx-cue;
    border-right: $m solid $ui-neutral;
  }
  &-bottom {
    @extend .adx-cue;
    border-bottom: $m solid $ui-neutral;
  }
  &-left {
    @extend .adx-cue;
    border-left: $m solid $ui-neutral;
  }
}

  @each $color, $value in $brand-colors{
        .adx-cue-#{$color} {
          @extend .adx-cue;
          background: mix(white, $value, 90%);

        &-top {
          @extend .adx-cue-#{$color};
          border-top: $m solid $value;
        }
        &-right {
          @extend .adx-cue-#{$color};
          border-right: $m solid $value;
        }
        &-bottom {
          @extend .adx-cue-#{$color};
          border-bottom: $m solid $value;
        }
        &-left {
          @extend .adx-cue-#{$color};
          border-left: $m solid $value;
        }
  }
}

  @each $color, $value in $program-colors{
        .adx-cue-#{$color} {
          @extend .adx-cue;
          background: mix(white, $value, 90%);
          border: 0;

        &-top {
          @extend .adx-cue-#{$color};
          border-top: $m solid $value;
        }
        &-right {
          @extend .adx-cue-#{$color};
          border-right: $m solid $value;
        }
        &-bottom {
          @extend .adx-cue-#{$color};
          border-bottom: $m solid $value;
        }
        &-left {
          @extend .adx-cue-#{$color};
          border-left: $m solid $value;
        }
  }
}

@each $color, $value in $ui-colors{
      .adx-cue-#{$color} {
        @extend .adx-cue;
        background: mix(white, $value, 90%);
        border: 0;

      &-top {
        @extend .adx-cue-#{$color};
        border-top: $m solid $value;
      }
      &-right {
        @extend .adx-cue-#{$color};
        border-right: $m solid $value;
      }
      &-bottom {
        @extend .adx-cue-#{$color};
        border-bottom: $m solid $value;
      }
      &-left {
        @extend .adx-cue-#{$color};
        border-left: $m solid $value;
      }
}
}

.persona {

  display: flex;

.persona-image {
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1em;


img {
  display: inline;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
}

.persona-content {
  margin-top: 1em;
}

}

@each $color, $value in $ui-colors{
  .persona-#{$color} {
    @extend .persona;
    background: mix(white, $value, 90%);
    border: 0;

    h5 {
      color: $value;
    }

    .persona-image {
      border: 3px solid mix(white, $value, 70%);
    }
  }
}

@each $color, $value in $brand-colors{
  .persona-#{$color} {
    @extend .persona;
    background: mix(white, $value, 90%);
    border: 0;
    h5 {
      color: $value;
    }
    .persona-image {
      border: 3px solid mix(white, $value, 70%);
    }
  }
}

.persona-question {
  @extend .persona;
  background: #f1eef9;
  border: 0;
  h5 {
    color: #7356C5;
  }
  .persona-image {
    border: 3px solid mix(white, #7356C5, 70%) ;
  }

}