.adx-cue {
  background: mix(white, $ui-neutral, 90%);
  border: 1px solid $ui-neutral;
  padding: $m $xl;
  max-width: 75ch;
  margin: $m;
  
  &-top {
    @extend .adx-cue;
    border-top: $m solid $ui-neutral;
  }
  &-right {
    @extend .adx-cue;
    border-right: $m solid $ui-neutral;
  }
  &-bottom {
    @extend .adx-cue;
    border-bottom: $m solid $ui-neutral;
  }
  &-left {
    @extend .adx-cue;
    border-left: $m solid $ui-neutral;
  }
}
  
  @each $color, $value in $brand-colors{
        .adx-cue-#{$color} {
          @extend .adx-cue;
          background: mix(white, $value, 90%); 
          border: 1px solid $value;
                
        &-top {
          @extend .adx-cue-#{$color};
          border-top: $m solid $value;
        }
        &-right {
          @extend .adx-cue-#{$color};
          border-right: $m solid $value;
        }
        &-bottom {
          @extend .adx-cue-#{$color};
          border-bottom: $m solid $value;
        }
        &-left {
          @extend .adx-cue-#{$color};
          border-left: $m solid $value;
        }
  }
}
  
  @each $color, $value in $program-colors{
        .adx-cue-#{$color} {
          @extend .adx-cue;
          background: mix(white, $value, 90%); 
          border: 0;
                
        &-top {
          @extend .adx-cue-#{$color};
          border-top: $m solid $value;
        }
        &-right {
          @extend .adx-cue-#{$color};
          border-right: $m solid $value;
        }
        &-bottom {
          @extend .adx-cue-#{$color};
          border-bottom: $m solid $value;
        }
        &-left {
          @extend .adx-cue-#{$color};
          border-left: $m solid $value;
        }
  }
}

@each $color, $value in $ui-colors{
      .adx-cue-#{$color} {
        @extend .adx-cue;
        background: mix(white, $value, 90%); 
        border: 0;
              
      &-top {
        @extend .adx-cue-#{$color};
        border-top: $m solid $value;
      }
      &-right {
        @extend .adx-cue-#{$color};
        border-right: $m solid $value;
      }
      &-bottom {
        @extend .adx-cue-#{$color};
        border-bottom: $m solid $value;
      }
      &-left {
        @extend .adx-cue-#{$color};
        border-left: $m solid $value;
      }
}
}
