div.adx-direction {
  position: relative;
  padding: $s;
  margin: $m auto;
  background: mix(white, $ui-neutral, 90%);
  max-width: $element-width;
  overflow: initial !important;
  
  &:before {
    position: absolute;
    top: 0;
    margin-left: -$xxl;
    margin-right: $xl;
    content: url(svg-encode($task-empty));
    background: $ui-neutral-darker;
    padding: $xxs;
    padding-top: $l;
    height: calc(100% - #{$xxs} - #{$l});
  }
  & h5{
    color: $ui-neutral-darker;
    font-weight: 700;
  }

  & ol, ul {
    padding-left: 2em !important; // override Canvas styling
  }

  &-info {
    @extend .adx-direction;
    background: mix(white, $brand-midblue, 90%);

  &:before {
    content: url(svg-encode($info-rev));
    background: $brand-midblue;
    }

    & h5{
      color: $brand-midblue;
    }
  }

  &-discussion {
    @extend .adx-direction;
    background: mix(white, #358da8, 90%);

  &:before {
    content: "";
    width: 24px;
    background: #358da8;
    }

    & h5{
      color: #358da8;
    }
  }

  &-reflect {
    @extend .adx-direction;
    background: mix(white, #8951ae, 90%);

  &:before {
    content: "";
    width: 24px;
    background: #8951ae;
    }

    & h5{
      color: #8951ae;
    }
  }

  &-inform {
    @extend .adx-direction;
    background: mix(white, $brand-darkblue, 90%);

  &:before {
    background: $brand-darkblue;
    content: "";
    width: 24px;
    }

    & h5{
      color: $brand-darkblue;
    }
    
  }

  &-warning {
    @extend .adx-direction;
    background: mix(white, $ui-warning, 90%);

  &:before {
    content: "";
    width: 24px;
    background: $ui-warning;
    }
    & h5{
      color: $ui-warning;
    }
  }

  &-assess {
    @extend .adx-direction;
    background: mix(white, $ui-negative, 90%);

  &:before {
    content: "";
    background: $ui-negative;
    width: 24px;
    }
    & h5{
      color: $ui-negative;
    }
  }

  &-extra {
    @extend .adx-direction;
    background: mix(white, $brand-midblue, 90%);

  &:before {
    content: url(svg-encode($expand-rev));
    background: $brand-midblue;
    }
    & h5{
      color: $brand-midblue;
    }
  }



  & > * {
    margin-left: $l;
  }
}
