div.adx-direction {
  position: relative;
  padding: $l;
  margin: $m auto;
  background: mix(white, $ui-neutral-darkest, 90%);
  max-width: $element-width;
  overflow: initial !important;

  &:before {
    position: absolute;
    top: 0;
    margin-left: -$l;
    margin-right: $xl;
    content: url(svg-encode($task-empty));
    background: $ui-neutral-darkest;
    padding: $xxs;
    padding-top: $l;
    height: calc(100% - #{$xxs} - #{$l});
  }
  & h5{
    color: $ui-neutral-darkest;
    font-weight: 700;
  }

  & ol, ul {
    padding-left: 2em !important; // override Canvas styling
  }

  &-info {
    @extend .adx-direction;
    background: mix(white, $ui-information, 90%);

  &:before {
    content: url(svg-encode($info-rev));
    background: $ui-information;
    }

    & h5{
      color: $ui-information;
    }
    & .step-list {
      background: mix(white, $ui-information, 70%);
      border-color: mix(white, $ui-information, 30%);

      & li {
        border-color: mix(white, $ui-information, 30%);
      }
    }
  }


  &-question{
    @extend .adx-direction;
    background: mix(white, $primary, 90%);

  &:before {
    content: url(svg-encode($question-rev));
    background: $primary;
    }

    & h5{
      color: $primary;
    }
    & .step-list {
      background: mix(white, $brand-midblue, 70%);
      border-color: mix(white, $brand-midblue, 30%);

      & li {
        border-color: mix(white, $brand-midblue, 30%);
      }
    }
  }

  &-warning {
    @extend .adx-direction;
    background: mix(white, $ui-warning, 90%);

  &:before {
    content: url(svg-encode($exclaim-rev));
    width: 24px;
    background: $ui-warning;
    }
    & h5{
      color: $ui-warning;
    }
    & .step-list {
      background: mix(white, $ui-warning, 70%);
      border-color: mix(white, $ui-warning, 30%);

      & li {
        border-color: mix(white, $ui-warning, 30%);
      }
    }
  }

  &-positive{
    @extend .adx-direction;
    background: mix(white, $ui-positive, 90%);

  &:before {
    content: url(svg-encode($correct-rev));
    background: $ui-positive;
    }

    & h5{
      color: $ui-positive;
    }
    & .step-list {
      background: mix(white, $brand-midblue, 70%);
      border-color: mix(white, $brand-midblue, 30%);

      & li {
        border-color: mix(white, $brand-midblue, 30%);
      }
    }
  }

  &-negative{
    @extend .adx-direction;
    background: mix(white, $ui-negative, 90%);

  &:before {
    content: url(svg-encode($incorrect-rev));
    background: $ui-negative;
    }

    & h5{
      color: $ui-negative;
    }
    & .step-list {
      background: mix(white, $brand-midblue, 70%);
      border-color: mix(white, $brand-midblue, 30%);

      & li {
        border-color: mix(white, $brand-midblue, 30%);
      }
    }
  }

  // Learning directions

  &-assessment {
    @extend .adx-direction;
    background: mix(white, $vis-cat2, 90%);

  &:before {
    content: url(svg-encode($calendar-rev));
    background: $vis-cat2;
    }

    & h5{
      color: $vis-cat2;
    }
    & .step-list {
      background: mix(white, $vis-cat2, 70%);
      border-color: mix(white, $vis-cat2, 30%);

      & li {
        border-color: mix(white, $vis-cat2, 30%);
      }
    }
  }

  &-discussion {
    @extend .adx-direction;
    background: mix(white, $vis-cat3, 90%);

  &:before {
    content: url(svg-encode($messages-rev));
    background: $vis-cat3;
    }

    & h5{
      color: $vis-cat3;
    }
    & .step-list {
      background: mix(white, $vis-cat3, 70%);
      border-color: mix(white, $vis-cat3, 30%);

      & li {
        border-color: mix(white, $vis-cat3, 30%);
      }
    }
  }

  &-extra {
    @extend .adx-direction;
    background: mix(white, $vis-cat4, 90%);

  &:before {
    content: url(svg-encode($expand-rev));
    background: $vis-cat4;
    }
    & h5{
      color: $vis-cat4;
    }
    & .step-list {
      background: mix(white, $vis-cat4, 70%);
      border-color: mix(white, $vis-cat4, 30%);

      & li {
        border-color: mix(white, $vis-cat4, 30%);
      }
    }
  }



  &-interactive {
    @extend .adx-direction;
    background: mix(white, $vis-cat5, 90%);

  &:before {
    content: url(svg-encode($exchange-rev));
    background: $vis-cat5;
    }

    & h5{
      color: $vis-cat5;
    }
    & .step-list {
      background: mix(white, $vis-cat5, 70%);
      border-color: mix(white, $vis-cat5, 30%);

      & li {
        border-color: mix(white, $vis-cat4, 30%);
      }
    }
  }

  &-investigate {
    @extend .adx-direction;
    background: mix(white, $vis-cat6, 90%);

  &:before {
    content: url(svg-encode($search-rev));
    background: $vis-cat6;
    }

    & h5{
      color: $vis-cat6;
    }
    & .step-list {
      background: mix(white, $vis-cat6, 70%);
      border-color: mix(white, $vis-cat6, 30%);

      & li {
        border-color: mix(white, $vis-cat6, 30%);
      }
    }
  }

  &-practice {
    @extend .adx-direction;
    background: mix(white, $vis-cat7, 90%);

  &:before {
    content: url(svg-encode($clipboard-rev));
    background: $vis-cat7;
    }

    & h5{
      color: $vis-cat7;
    }
    & .step-list {
      background: mix(white, $vis-cat7, 70%);
      border-color: mix(white, $vis-cat7, 30%);

      & li {
        border-color: mix(white, $vis-cat7, 30%);
      }
    }
  }


  &-reading {
    @extend .adx-direction;
    background: mix(white, $vis-cat8, 90%);

  &:before {
    content: url(svg-encode($book-rev));
    background: $vis-cat8;
    }

    & h5{
      color: $vis-cat8;
    }
    & .step-list {
      background: mix(white, $vis-cat8, 70%);
      border-color: mix(white, $vis-cat8, 30%);

      & li {
        border-color: mix(white, $vis-cat8, 30%);
      }
    }
  }

  &-reflect {
    @extend .adx-direction;
    background: mix(white, $vis-cat9, 90%);

  &:before {
    content: url(svg-encode($reflect-rev));
    background: $vis-cat9;
    }

    & h5{
      color: $vis-cat9;
    }
    & .step-list {
      background: mix(white, $vis-cat9, 70%);
      border-color: mix(white, $vis-cat8, 30%);

      & li {
        border-color: mix(white, $vis-cat9, 30%);
      }
    }
  }

  &-write {
    @extend .adx-direction;
    background: mix(white, $vis-cat10, 90%);

  &:before {
    content: url(svg-encode($write-rev));
    background: $vis-cat10;
    }

    & h5{
      color: $vis-cat10;
    }
    & .step-list {
      background: mix(white, $vis-cat10, 70%);
      border-color: mix(white, $vis-cat10, 30%);

      & li {
        border-color: mix(white, $vis-cat10, 30%);
      }
    }
  }

// Program directions

&-hsm {
  @extend .adx-direction;
  background: mix(white, $oua-hsm, 90%);

  &:before {
    content: url(svg-encode($hsm-rev));
    background: $oua-hsm;
  }
  & h5{
    color: $oua-hsm;
  }
  & .step-list {
    background: mix(white, $oua-hsm, 70%);
    border-color: mix(white, $oua-hsm, 30%);

    & li {
      border-color: mix(white, $oua-hsm, 30%);
    }
  }
}

&-ib {
  @extend .adx-direction;
  background: mix(white, $oua-ib, 90%);

  &:before {
    content: url(svg-encode($ib-rev));
    background: $oua-ib;
  }
  & h5{
    color: $oua-ib;
  }
  & .step-list {
    background: mix(white, $oua-ib, 70%);
    border-color: mix(white, $oua-ib, 30%);

    & li {
      border-color: mix(white, $oua-ib, 30%);
    }
  }
}

// Deprecated

  &-inform {
    @extend .adx-direction;
    background: mix(white, $brand-darkblue, 90%);

  &:before {
    background: $brand-darkblue;
    content: "";
    width: 24px;
    }

    & h5{
      color: $brand-darkblue;
    }
    & .step-list {
      background: mix(white, $brand-darkblue, 70%);
      border-color: mix(white, $brand-darkblue, 30%);

      & li {
        border-color: mix(white, $brand-darkblue, 30%);
      }
    }
  }

  &-assess {
    @extend .adx-direction;
    background: mix(white, $ui-negative, 90%);

  &:before {
    content: "";
    background: $ui-negative;
    width: 24px;
    }
    & h5{
      color: $ui-negative;
    }
    & .step-list {
      background: mix(white, $ui-negative, 70%);
      border-color: mix(white, $ui-negative, 30%);

      & li {
        border-color: mix(white, $ui-negative, 30%);
      }
    }
  }



  & > * {
    margin-left: $xxl;
  }
}
