hr.adx{
  &-gradient-primary {
    margin: $xl 0;
    border: 0; 
    height: 3px; 
    background-image: linear-gradient(to right, $ui-rev, $accent, $primary, $accent, $ui-rev);
  }
  
  &-gradient-complimentary {
    margin: $xl 0;
    border: 0; 
    height: 3px; 
    background-image: linear-gradient(to right, $ui-rev, $accent, $complimentary, $accent, $ui-rev);
  }
  
  &-gradient-accent {
    margin: $xl 0;
    border: 0; 
    height: 3px; 
    background-image: linear-gradient(to right, $ui-rev, $complimentary, $accent, $complimentary, $ui-rev);
  }
}
