.icon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: minmax(50vh, 50vh);
    margin: 12px 0;
    align-content: center;
    justify-content: center;
    width: 100%;
    overflow: clip;
    background:#f1f1f1;
}

.adx-icon {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin:1vw;

    & i, .i-num {
        font-size: 32pt;
        object-position: center center;
        text-align: center;
        vertical-align: middle;
        line-height: 100%;
    }

    &.awesome {

     }
    &.number h1 {
        font-style: normal;
        margin: 0;
        min-width: 52px;
        text-align: center;
    }

    & h6.icon-text  {
        font-size: 14px;
        margin: 0 0 0 1vw;
        display: inline-grid;

    } & h6.icon-text:before {
            content: "" !important;
    }
}  