.adx input {
    width: 100%;
    padding: .8em;
    font-family: 'Arial', sans-serif;
    color: #303030;
    border: 1px solid $ui-neutral-light;
    background: $ui-neutral-lighter;
    margin-bottom: 1em;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}

.adx input:focus, textarea:focus {
    outline: none;
    border: 1px solid $brand-midblue !important;
}

.adx textarea {
    width: 100%;
    margin-top: 1em;
    padding: .8em;
    font-family: 'Arial', sans-serif;
    color: #303030;
    border: 1px solid $ui-neutral-light;
    background: $ui-neutral-lighter;
    border-radius: 2px;
}

.adx form {
    max-width: 50ch;
    margin: auto;
}

.adx form button {
    width: 100%;
}

.adx label {
    font-size: 0.7em;
    color: $ui-neutral;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.inputLabel:focus-within label {
    color: $brand-midblue;
 }