dl {
  margin:0;
  padding: $xl;
  font-size: $m;
}

dt {
  font-size: $l;
  font-weight: 300; 
  margin: $xl 0 0 0;
  padding: 0 $xxs;
  color: $primary;
  border-bottom: 1px solid $primary-lightest;
  line-height: 1.2; 
  letter-spacing: -0.02rem;
  
  &:first-of-type {margin-top: 0}
}

dd {
  background: $primary-tint;
  padding: $s;
  border-bottom: 1px solid $primary-lightest;
  border-right: 1px solid $primary-lightest;
  line-height: 1.6; 
}

dl.description {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: $xl;
  background: $ui-neutral-tint;
  border-radius: $xxxs;

  
  dt {
    font-weight: bold;
    font-size: $l;
    border: none;
    letter-spacing: normal;
    padding-left: 0;
    line-height: 1.2; 
    letter-spacing: -0.02rem;
  }
  
  dd {
    margin: 0;
    padding: $xxs $s $s;
    border: none;
    border-radius: none;
    border-bottom: 1px solid $ui-neutral;
    background: none;
    padding-left: 0;
    font-size: $m; 
    line-height: 1.6; 
  }
}
