ul.icon-list {
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
      padding: $xs;
    }
    
    &-sun-accent {
      li::marker {content: url(svg-encode($sun-accent));}
      li {padding: $xs;}
  }
  &-sun-complimentary {
    li::marker {content: url(svg-encode($sun-complimentary));}
    li {padding: $xs;}
  }
  &-sun-red {
    li::marker {content: url(svg-encode($sun-red));}
    li {padding: $xs;}
  }
}
      
