ul {
  &.circle {list-style: circle;}
  &.disc {list-style: disc;}
  &.square {list-style: square;}
}


ol {
  &.alpha-lower {list-style: lower-alpha;}
  &.alpha-upper {list-style: upper-alpha;}
  &.zero {list-style: decimal-leading-zero;}
  &.roman-lower {list-style: lower-roman;}
  &.roman-upper {list-style: upper-roman;}
}

ul.boxed, ol.boxed {
  padding: $xs $xxl;
  margin: $s auto;
  max-width: $element-width;
  background: $primary-tint;
  border-radius: $radius;
  list-style-position: inside;
}
