ol.adx-timeline {
  margin: 0;
  padding: 0;
  
  & > * {margin: 0;}
  
  &.simple {
    
  li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-color: $ui-neutral;
    
    header {
      
      & > * {margin: 0;}

      padding: $xs;
      grid-column: 1;
      text-align: right;
      
      .subhead {
        color: $ui-neutral-darkest;
        text-transform: uppercase;
        margin-top: .3rem;
      }
    }
    
    section { 
      border-left: 8px solid;
      grid-column: 2;
      padding: $xs;
      position: relative;
      border-color: $ui-neutral;

      p:last-child {
        padding-bottom: $m; 
        border-bottom: 1px dotted $ui-neutral;      
      }
    }
  }
}
}
