ul.adx-item-blocks {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;

  & li {
      margin: $s;
      max-width: 30ch;
      transition: all .2s ease-in-out;
      background: $ui-neutral-tint;
      //border: $ui-border;
      border-radius: 3px;
      padding: $m $xl;
      box-shadow: $shadow-xs;
      font-family: "made_evolve_sans_regular", Arial, sans-serif !important;

    & strong {
      font-family: $font-heading;
    }

      &:hover {
        box-shadow: $shadow-m;
        background: $ui-rev;

      }

  }

  @each $color, $value in $ld-colors {
    &.block-#{$color} {
      li {
        background: mix(white, $value, 95%) !important;
        &:hover {
          background: mix(white, $value, 85%) !important;
        }
      }
    }

  }

}
