.step-list {
  list-style-type: none !important;
  margin: 0;
  padding: $xs;
  background: $ui-neutral-lighter;
  border: 1px solid $ui-neutral-light;
  border-radius: $xxs;
  font-size: $m;

  & li {
    margin: $xs 0;
    padding: $m;
    border-bottom: 1px solid $ui-neutral-light;
    counter-increment: step-counter;
    text-indent: -5em;
    padding-left: 5em;

    &.step-2 { counter-reset: step-counter 1;}
    &.step-3 { counter-reset: step-counter 2;}
    &.step-4 { counter-reset: step-counter 3;}
    &.step-5 { counter-reset: step-counter 4;}
    &.step-6 { counter-reset: step-counter 5;}
    &.step-7 { counter-reset: step-counter 6;}
    &.step-8 { counter-reset: step-counter 7;}
    &.step-9 { counter-reset: step-counter 8;}
    &.step-10 { counter-reset: step-counter 9;}
    &.step-11 { counter-reset: step-counter 10;}
    &.step-12 { counter-reset: step-counter 11;}
    &.step-13 { counter-reset: step-counter 12;}
    &.step-14 { counter-reset: step-counter 13;}
    &.step-15 { counter-reset: step-counter 14;}
    &.step-16 { counter-reset: step-counter 15;}
    &.step-17 { counter-reset: step-counter 16;}
    &.step-18 { counter-reset: step-counter 17;}  

    &:last-child {
      border-bottom: none;
    }
  }
}

.step-list li:before {
  content: 'step ' counter(step-counter);
  text-transform: uppercase;
  font-size: $xs;
  background: $primary-darker;
  color: $ui-rev;
  padding: $xs;
  margin-right: 2em;
}
