ol.adx-apa, ul.adx-apa {
  list-style: none;
  margin: $xl 0 !important;
  padding: 0;
  
  li {
    margin-left: $s;
    padding-left: 2em;
    text-indent: -2em;
  }
  
  &.ref-list::before {
    content: "References";
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    border-top: $ui-border;
    padding-top: $xxxs;
    color: $primary-light;
    border-color: $primary-light;
  }
}
