// Using code from https://codepen.io/Kybeth/pen/VNVywZ 

.todoList {
  box-shadow: $shadow-m;
  width: 80%;
  margin: $xxl auto;
  border-top: solid $xxl $primary;
  border-radius: $xxxs; 
}
.todoList > * {
  padding: $m $l;
}
.todoList h2 {
  margin: 0;
  line-height: 1;
}
.todoList .items {
  display: flex;
  flex-direction: column;
  padding: $l;
  counter-reset: done-items pending-items;
}
.todoList h3 {
  margin: $xs 0;
  padding: $xs $s;
  font-size: $m;
  text-transform: uppercase;
  position: relative;
  background: $primary-tint;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
    margin-left: -$s;
}

.todoList h3::after {
  display: inline-block;
  float: right;
  background: $primary;
  color: $ui-rev;
  padding: $xs;
  top: 0%;
  min-width: 1.5em;
  text-align: center;
  align-self: flex-end;
}
.todoList .done {
  order: 1;
}
.todoList .done::after {
  content: counter(done-items);
}
.todoList .pending {
  order: 3;
}
.todoList .pending::after {
  content: counter(pending-items);
}
.todoList input {
  position: absolute;
  left: -999px;
}
.todoList input:focus + label {
  background: rgba(255, 255, 255, 0.4);
}
.todoList input:checked + label {
  order: 2;
  animation: done 0.6s;
  counter-increment: done-items;
}
.todoList input:checked + label::before {
  content: url(svg-encode($task-done));
}
.todoList label {
  order: 4;
  animation: pending 0.6s;
  display: block;
  position: relative;
  padding: $s 0 $s $xxl;
  cursor: pointer;
  counter-increment: pending-items;
}
.todoList label:hover {
  background: rgba($primary, 0.1);
}
.todoList label::before {
  content: url(svg-encode($task-empty));
  display: block;
  position: absolute;
  left: 0;
  top: $s;
}

@-moz-keyframes done {
  0% {
    -moz-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
  }
  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
  }
}
@-webkit-keyframes done {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
  }
  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
  }
}
@keyframes done {
  0% {
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
  }
  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
  }
}
@-moz-keyframes pending {
  0% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
  }
  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
  }
}
@-webkit-keyframes pending {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
  }
  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
  }
}
@keyframes pending {
  0% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
  }
  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
  }
}
