.adx-markup {
  
  // Change font 
  &-font-text {font-family: $font-text}
  &-font-heading {font-family: $font-heading}
  &-font-alternative {font-family: $font-alternative}
  
  // Change Size
  &-size-xxs {font-size: $xxs !important;}
  &-size-xs {font-size: $xs !important;}
  &-size-s {font-size: $s !important;}
  &-size-m {font-size: $m !important;}
  &-size-l {font-size: $l !important;}
  &-size-xl {font-size: $xl !important;}
  &-size-xxl {font-size: $xxl !important;}
  &-size-xxxl {font-size: $xxxl !important;}
  
  // Text Transform
  &-caps {text-transform: uppercase; }

  // Text Types
  &-label {
    font-size: $xs;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;
    width: calc(100%+10vw);
    margin: $xl 0 $s -3vw;
    padding: $xs;
    color: $ui-neutral-darkest;
    background: $ui-neutral-lighter;
    border: 1px solid $ui-neutral-light;
    clear: both;
    font-family: $font-text;
    font-weight: bold;
  }
  
  &-header {
    width: 100%;
    background: $brand-darkblue;
    color: $ui-rev;
    margin: -2vh 0 $m -5vw;
    padding: $l 5vw;
  }
  
  &-highlight {
    background: $ui-warning;
    padding: 0 $xxs; 
  }
  
  &-strike {
    text-decoration: line-through;
  }
  
  &-guide {
    font-family: $font-text;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding-left: $s;
  }  

  @each $color, $value in $brand-colors{
      &-block-#{$color}-gradient {  
      padding: .4em;
      background: linear-gradient(-90deg, $value 0%, mix(black, $value, 30%) 80%, mix(black, $value, 40%) 100%);
      border-radius: $xxs;
      @include text-contrast($value);
    }
  }
  
  @each $color, $value in $program-colors {
      &-block-#{$color}-gradient {  
      padding: .4em;
      background: linear-gradient(-90deg, $value 0%, mix(black, $value, 30%) 80%, mix(black, $value, 40%) 100%);
      border-radius: .08em;
      @include text-contrast($value);
    }
  }
  
  @each $color, $value in $brand-colors{
      &-block-#{$color} {  
      padding: .4em;
      background-color: $value;
      border-radius: $xxs;
      @include text-contrast($value);
    }
  }
  
  @each $color, $value in $program-colors {
      &-block-#{$color} {  
      padding: .4em;
      background-color: $value;
      border-radius: .08em;
      @include text-contrast($value);
    }
  }
  
  
  &-section {
    padding-bottom: .15em;
    border-bottom: .1em solid CurrentColor;
  }
  &-section-caps {
    @extend .adx-markup-section;
    text-transform: uppercase;
  }
}

code {background-color: $ui-neutral-lighter; padding: .1rem;border: 1px solid $ui-neutral-light;}
