.adx-markup {
  
  // Change font 
  &-font-text {font-family: $font-text}
  &-font-heading {font-family: $font-heading}
  &-font-alternative {font-family: $font-alternative}
  
  // Change Size
  &-size-xxs {font-size: $xxs !important;}
  &-size-xs {font-size: $xs !important;}
  &-size-s {font-size: $s !important;}
  &-size-m {font-size: $m !important;}
  &-size-l {font-size: $l !important;}
  &-size-xl {font-size: $xl !important;}
  &-size-xxl {font-size: $xxl !important;}
  &-size-xxxl {font-size: $xxxl !important;}
  
  // Text Transform
  &-caps {text-transform: uppercase; }

  // Text Types
  &-label {
    font-size: $xs;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;
    max-width: 100%;
    margin: $xxl 0 $xl 0;
    padding: $xs;
    color: $ui-neutral-darkest;
    background: $ui-neutral-lighter;
    border: 1px solid $ui-neutral-light;
    clear: both;
    font-family: $font-text;
    font-weight: bold;
  }
  
  &-highlight-yellow {
    background: $ui-highlight-yellow;
    padding: 0 .25ch;
     
  }
  
  &-highlight-green {
    background: $ui-highlight-green;
    padding: 0 .25ch;
  }
  
  &-highlight-orange {
    background: $ui-highlight-orange;
    padding: 0 .25ch;
  }
  
  &-highlight-blue {
    background: $ui-highlight-blue;
    padding: 0 .25ch;
  }
  
  &-highlight-pink {
    background: $ui-highlight-pink;
    padding: 0 .25ch;
  }
  
  &-strike {
    text-decoration: line-through;
  }
  
  &-guide {
    font-family: $font-text;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }  

  @each $color, $value in $brand-colors{
      &-block-#{$color}-gradient {  
      padding: .5em;
      background: linear-gradient(-90deg, $value 0%, mix(black, $value, 30%) 80%, mix(black, $value, 40%) 100%);
      border-radius: $xxs;
      @include text-contrast($value);
    }
  }
  
  @each $color, $value in $program-colors {
      &-block-#{$color}-gradient {  
      padding: .5em;
      background: linear-gradient(90deg, $value 0%, mix(black, $value, 30%) 95%, mix(black, $value, 40%) 100%);
      border-radius: .08em;
      @include text-contrast($value);
    }
  }
  
  @each $color, $value in $brand-colors{
      &-block-#{$color} {  
      padding: .5em;
      background-color: $value;
      border-radius: $xxs;
      @include text-contrast($value);
    }
  }
  
  @each $color, $value in $program-colors {
      &-block-#{$color} {  
      padding: .5em;
      background-color: $value;
      border-radius: .08em;
      @include text-contrast($value);
    }
  }
  
  
  &-section {
    padding-bottom: .15em;
    border-bottom: .1em solid CurrentColor;
  }
  &-section-caps {
    @extend .adx-markup-section;
    text-transform: uppercase;
  }
}

code {background-color: $ui-neutral-lighter; padding: .1rem;border: 1px solid $ui-neutral-light;}
