section.adx-podcast-square{
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr auto;
  max-width: 35ch;
  border-radius: $radius;
  border: $ui-border;
  margin: $l auto;
  box-shadow: $shadow-m;

  div {
    grid-column: span 2;
    z-index: -1;
  }

  h3 {
    grid-column: 1;
    font-size: $m;
    margin: 0;
    padding: $xxs 0 0 $xxs;
    color: $primary-light;
    background: none;


  &  + p {
      grid-column: 1;
      font-size: $s;
      margin: 0;
      padding: $xxs 0 $m $xxs;
      color: $ui-neutral-darkest;
    }
  }
  audio {
    grid-column: span 2;
    height: $xxl;
    z-index: 999;
    width: 100%;
    }
}

section.adx-podcast-wide{
  display: grid;
  grid-template-columns: $m 5fr 2fr $m;
  grid-template-rows: $m 1fr $m auto;
  max-width: 75ch;
  border-radius: $radius;
  border: $ui-border;
  margin: $l auto;
  box-shadow: $shadow-m;

  div.art {
    grid-column: 3;
    grid-row: 2;
    box-shadow: $shadow-s;
    
    img {
    }
  }

  div.track {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

      h3 {
        font-size: $l;
        margin: 0;
        padding: $xxs 0 0 $xxs;
        color: $primary-light;

      &  + p {
          font-size: $m;
          margin: 0;
          padding: $xxs 0 $m $xxs;
          color: $ui-neutral-darkest;
        }
      }
}
  audio {
    grid-column: span 4;
    grid-row: 4;
    height: $xxl;
    width: 100%;
  }
}
