.adx {
  blockquote {

    margin: 0 auto;
    padding: $m $xl;
    border-width: 0 0 0 $xs !important;
    border-style: solid;
    border-color: $brand-darkblue;
    max-width: $element-width;
    background: #f1f1f1;
    width: fit-content;
    
    & > * {
      max-width: $read-width;
      font-size: $l;
      font-family: $font-text;
      line-height: 1.4;
  
    }
  
    & cite {
      display: block;
      font-size: $s;
      font-style: italic;
      margin: $s 0 0 0;
  
      &::before {
      content: '\2014\00a0\00a0';
      margin-left: 1em;
    }
    }
  
    &.fancyquote {
      
      font-style: italic;
      border-width: 4px 0 !important;
      border-style: solid;
      border-color: $brand-darkblue;
      margin-left: auto;
      margin-right: auto;
      
      p {
        font-family: $font-alternative;
        font-size: $xl;
      }
    }
  
    &.pullquote-right {
      margin: $m 0 $m $m;
      float: right;
      max-width: 30ch;
      background: $brand-darkblue;
      color: $ui-rev;
      border: 0;
  
      cite {
        text-align: right;
      }
    }
  
    &.pullquote-left {
      margin: $m $m $m 0;
      float: left;
      max-width: 30ch;
      background: $brand-darkblue;
      color: $ui-rev;
      border: 0;
  
      cite {
        text-align: right;
      }
    }
  }
}

