blockquote {
  
  margin: $s $xl;
  font-size: $l;
  font-family: $font-text;
  padding: $m;
  line-height: 1.4;
  border-width: 0 0 0 $xs !important;
  border-style: solid;
  border-color: $ui-neutral-light;
  
  & cite {
    display: block;
    font-size: $s;
    font-style: italic;
    margin: $s 0 0 0;
    
    &::before {
    content: '\2014\00a0\00a0 ';
    margin-left: 1em;
  }
  }
  
  &.fancyquote {
    font-size: $xl;
    font-family: $font-alternative;
    font-style: italic;
    border-width: 4px 0 !important;
    border-style: solid;
    border-color: $ui-neutral-light;
  }
  
  &.pullquote-right {
    margin: $m 0 $m $m;
    float: right;
    max-width: 30ch;
    background: $brand-darkblue;
    color: $ui-rev;
    border: 0;
    
    cite {
      text-align: right;
    }
  }
  
  &.pullquote-left {
    margin: $m $m $m 0;
    float: left;
    max-width: 30ch;
    background: $brand-darkblue;
    color: $ui-rev;
    border: 0;
    
    cite {
      text-align: right;
    }
  }
}
