header.adx-shield {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr;
    grid-template-rows: minmax(250px, 50vh);
    align-content: center;
    justify-content: center;
    width: 100%;
    overflow: clip;
    background:#102535;
    height:400px;
    border-left:10px solid #d40000;

    & .image {
      grid-area: 1 / 3 / 1 / 3;
      width:40%;
      clip-path: path('M0.06,0.28v149.77c0,0-8.75,171.93,186.55,245.66c0,0,178.89-51.54,188.19-245.2s0,0,0,0V0.28H0.06z');
      transform: scale(1.2);
      justify-self: center;
      min-width: 400px; // Do not resize to smaller than this.
      min-height: 400px;

      & img {
      display: grid;
      
      width: 100%;
      height: 100%;
      object-fit: cover;
      
      &.center-center {object-position: center center;}
      &.left-center {object-position: left center;}
      &.right-center {object-position: right center;}
      &.center-top {object-position: center top;}
      &.left-top {object-position: left top;}
      &.right-top {object-position: right top;}
      &.center-bottom {object-position: center bottom;}
      &.left-bottom {object-position: left bottom;}
      &.right-bottom {object-position: right bottom;}
      }

      &.left {
        grid-area: 1 / 2 / 1 / 2;
      }
    }
    & .make-history {
        grid-area: 1 / 4 / 1 / 4;
        display: grid;
        margin: 1vw;

        & img {
            display: grid;
            width:160px;
            align-self: end;
        }

        &.left {
            grid-area: 1 / 1 / 1 / 1;
        }
    }
    & .overlay {
      grid-area: 1 / 1 / 2 / 2;
      display: grid;
      width: 100%;
      height: 100%;
    }
    
    & .text {
      grid-area: 1 / 1 / 2 / 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: left;
      margin: 4vw;
      border: none;
      background: none;
      text-align: left;
      
      &.right {}

      &.left {
        grid-area: 1 / 4 / 1 / 4;
    }
      
      & > * {
        margin: 0;
        padding-bottom: $xxs;
        color: $ui-rev;
      }
  
    }
    &.left {
        grid-template-columns: 1fr 3fr 1fr 3fr;
    }
  }
  