.adx-status {
  
  &:before {
    display: inline-block; 
    content: " "; 
    width: 1ch;
    height: 1ch;
    border-radius: 50%;
    margin-right: 1ch;
    border: 2px solid $ui-neutral;

}

  &.positive::before {
    color: $ui-positive;
    border-color: $ui-positive;
    background: mix(white, $ui-positive, 92%);
  }
  
  &.negative::before {
    color: $ui-negative;
    border-color: $ui-negative;
    background: mix(white, $ui-negative, 92%);
  }

  &.warning::before {
    color: $ui-warning;
    border-color: $ui-warning;
    background: mix(white, $ui-warning, 92%);
  }

  &.information::before {  
    color: $ui-information;
    border-color: $ui-information;
    background: mix(white, $ui-information, 92%);
  }

  &.neutral::before {
    color: $ui-neutral;
    background: mix(white, $ui-neutral, 92%);
  }
}
