table.adx  {
  font-size: $m;
  min-width: 80%;
  max-width: 100%;
  margin: $l 0;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 4px;
  border: 1px solid #f2f2f2;

  
  &.text-small {font-size: 80% !important;}
  &.text-smaller {font-size: 70% !important;}
  .w20 {width: 20%;}
  .w25 {width: 25%;}
  .w30 {width: 30%;}
  .w40 {width: 40%;}
  .w50 {width: 50%;}
  .w60 {width: 60%;}

  tr {
    background: $ui-neutral-tint;
    transition: background 0.1s linear;
  }

  tr:nth-child(even){
    background: $ui-neutral-lightest;
  }

  tr:hover {
    background: $ui-neutral-lighter;
  }

  th, td {
    text-align: left;
    padding: $xs $xs;

  }

  td p, th p {
    margin: 0;
  }

  
  tr.accent {
    background: $accent-lightest;
  }
  
  tr.primary {
    background: $primary-lightest;
  }
  
  tr.accent {
    background: $accent-lightest;
  }
  
  @each $color, $value in $program-colors {
      tr.#{$color} {
        background: mix(white, $value, 80%) !important
    }
  }
  
  @each $color, $value in $ui-colors {
      tr.#{$color} {
        background: mix(white, $value, 80%) !important
    }
  }
  
  caption {
    caption-side: top;
    margin-bottom: $s;
    padding: $s;
    
    & > * {
      font-style: normal;
    }
    
    &.caption-bottom {
      caption-side: bottom !important;
    }
  }

    th {
      background: $brand-midblue;
      text-align: center;
      color: #FFF;
      font-family: "made_evolve_sans_bold", Arial, sans-serif;

      & p {
        font-family: "made_evolve_sans_bold", Arial, sans-serif;
      }

      & li {
        font-family: "made_evolve_sans_regular", Arial, sans-serif;
      }
    }

    tr:first-child th:first-child {
      border-top-left-radius: 3px;
    }

    tr:first-child th:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    tr:last-child th:first-child {
      border-bottom-left-radius: 3px;
    }


  &.minimal{
    border-spacing: 0 8px;
    border: none;

    tr {
      background: none;
      transition: background 0.1s linear;
      padding-bottom: 1em;
    }

    tr:nth-child(even){
      background: none;
    }

    tr:hover {
      background: $ui-neutral-tint;
    }

    td {
      text-align: left;
      padding: $s $s;

    }
    th {
      text-align: left;
      padding: $m $s;
      background: $ui-neutral-lighter;
      color: $ui-neutral-darkest;
    }

  }

  &.simple{
    border-collapse: collapse;

    tr {
      background: none;
      transition: background 0.1s linear;
      padding-bottom: 1em;
    }

    tr:nth-child(even){
      background: none;
    }

    tr:hover {
      background: $ui-neutral-tint;
    }

    td {
      text-align: left;
      padding: $s $s;
      border: 1px solid $ui-neutral;

    }
    th {
      text-align: left;
      padding: $m $s;
      background: $brand-darkblue;
      border: 1px solid $ui-neutral;
    }

  }



  &.styled {
    border-spacing: 0px;

    th, td {
      text-align: left;
      border-bottom: $ui-border;
      padding: $xs $xs;
    }

    th {
      background: $ui-neutral-lightest;
      border-bottom: 3px solid $ui-neutral;
      color: $ui-blk;
      text-align: center;
    }



    caption {
      caption-side: top;
      padding: $l $m $xxxs;
      color: $primary;
    }

    & tr {
      // border: 1px solid $accent;
      border: 1px solid #B9C0C6;
    }

    td:first-child {
      border-left: $ui-border;
    }

    td:last-child {
      border-right: $ui-border;
    }


    & tr:last-child {
      td {
        border-bottom: 3px solid $ui-neutral;
      }
    }

    thead tr {
      text-align: left;
      text-transform: uppercase;
      color: $primary;
      font-size: $s;
      font-weight: lighter;
    }

    tbody {

      tr {
        background: $ui-neutral-tint;
      }

      td {
        padding: $s $s;
        border: 1px solid $ui-neutral;
      }
    }
  }

}
