.adx-switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  background-color: $ui-neutral-light;
  border-radius: 2rem;
  transition: all 0.3s;
  margin: $m;
}
.adx-switch::after {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: white;
  top: .2rem;
  left: .2rem;
  transition: all 0.3s;
}

.adx-checkbox:checked + .adx-switch::after {
  left : 2.2rem;
}
.adx-checkbox:checked + .adx-switch.ui-positive{background-color: $ui-positive;}
.adx-checkbox:checked + .adx-switch.ui-negative{background-color: $ui-negative;}
.adx-checkbox:checked + .adx-switch.ui-warning{background-color: $ui-warning;}
.adx-checkbox:checked + .adx-switch.ui-information{background-color: $ui-information;}
.adx-checkbox:checked + .adx-switch.accent{background-color: $accent;}
.adx-checkbox:checked + .adx-switch.complimentary{background-color: $complimentary;}
.adx-checkbox:checked + .adx-switch.primary{background-color: $primary;}

.adx-checkbox {
  display : none;
}
