section.adx.video {
  border-radius: $radius;
  border: $ui-border;
  padding: $s;
  box-shadow: $shadow-m;
  margin: $xl auto;
  // max-width: $read-width;

  header.full {
    margin: -$s;
    margin-bottom: $s;
    z-index: -1;
    padding: $s;

    &.icon {
      display: grid;
      grid-template-columns: 1fr 4fr;

      .text {grid-column: 2;}
      .icon {

        &.primary {background: url(svg-encode($play-primary)) center / contain no-repeat;}
        &.complimentary {background: url(svg-encode($play-complimentary)) center / contain no-repeat;}
        &.accent {background: url(svg-encode($play-accent)) center / contain no-repeat;}
        &.ui-rev {background: url(svg-encode($play-rev)) center / contain no-repeat;}
        &.ui-blk {background: url(svg-encode($play-blk)) center / contain no-repeat;}

        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        margin: $m;
        padding: $m;
      }


    }
  }

  .v-icon-holder {
    display: grid;
    width:100%;
    height:100%;
    align-items: center;
    text-align: center;
    min-height:3em;
    margin-bottom: $xs;

    &:hover {
      color: $accent-dark;
      background:#f1f1f1;
    }
  }
  

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: $xs;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}