section.adx.video {
  border-radius: $radius;
  border: $ui-border;
  padding: $s;
  box-shadow: $shadow-m;
  margin: $xl auto;

  header.full {
    margin: -$s;
    margin-bottom: $s;
    z-index: -1;
    padding: $s;

    &.icon {
      display: grid;
      grid-template-columns: 1fr 4fr;

      .text {grid-column: 2;}
      .icon {

        &.primary {background: url(svg-encode($play-primary)) center / contain no-repeat;}
        &.complimentary {background: url(svg-encode($play-complimentary)) center / contain no-repeat;}
        &.accent {background: url(svg-encode($play-accent)) center / contain no-repeat;}
        &.ui-rev {background: url(svg-encode($play-rev)) center / contain no-repeat;}
        &.ui-blk {background: url(svg-encode($play-blk)) center / contain no-repeat;}

        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        margin: $m;
        padding: $m;
      }


    }
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: $l;
  }
}
